.brands-section{
    padding-bottom: clamp(50px, 9.2308vw, 120px);
    overflow: hidden;
    
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: clamp(7px, 4.6154vw, 60px);
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: clamp(16px, 1.5385vw, 20px);
    }

    &--mode{
        padding: 0;
        overflow: initial;
    }
}