.breadcrumbs {
    margin-bottom: clamp(40px, 4.688vw, 48px);
    order: -1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 8px 20px;
    justify-content: flex-start;
    user-select: none;
  
    &__prev {
      position: relative;
      white-space: nowrap;
      font-family: var(--font-second);
      font-size: 16px;
      line-height: 150%;
      font-weight: 500;
      letter-spacing: -0.02em;
      color: rgba(var(--cl-c),1.0);
      transition: all 0.4s ease;

      &:hover {
        background-color: transparent;
        color: rgba(var(--cl-d),1.0);
      }
  
      &::before {
        content: '/';
        position: absolute;
        width: 8px;
        height: 24px;
        right: -14px;
        font-family: var(--font-second);
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: rgba(var(--cl-c), 0.5);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  
    &__current {
      font-family: var(--font-second);
      font-size: 16px;
      line-height: 150%;
      font-weight: 500;
      letter-spacing: -0.02em;
      color: rgba(var(--cl-c), 0.5);
    }
  }