.changelog-category {
    position: relative;
    padding: 60px 0;

    @include small-tablet {
        order: -1;
        padding: 30px 0 60px;
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(16px, 2.222vw, 32px);
    }

    &__list {
        grid-template-columns: 100%;
        gap: 32px;

        a {
            padding: 0;
            border-right: none;

            @media (max-width: 767px) {
                border-bottom: none;
            }
        }
    }
}