.downloading {
    display: grid;
    grid-template-columns: repeat(2, clamp(345px, 35.972vw, 518px));
    grid-gap: 32px clamp(24px, 2.222vw, 32px);
    align-items: center;
    justify-content: center;

    @include small-tablet {
        grid-template-columns: 100%;
    }

    &__logo {
        margin-bottom: 24px;
    }

    &__info {
        @include small-tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        margin-bottom: 8px;
        font-family: var(--font-primary);
        font-size: clamp(32px, 3.056vw, 44px);
        line-height: 127%;
        font-weight: 700;
    }

    &__descr {
        display: block;
        margin-bottom: 32px;
        font-family: var(--font-primary);
        font-size: clamp(24px, 2.222vw, 32px);
        line-height: 144%;
        font-weight: 600;
    }

    &__links {
        span {
            display: block;
            margin-bottom: 10px;
            font-family: var(--font-primary);
            font-size: 20px;
            line-height: 160%;
            font-weight: 500;
            letter-spacing: -0.02em;
        }
    }
}