.faq-section{
    padding-bottom: clamp(50px, 9.2308vw, 120px);
    overflow: hidden;
    
    &__box{
    display: flex;
    justify-content: space-between;
    grid-gap: 15px;

   
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(15px, 3.0769vw, 40px);
        max-width: Min(40.7692vw,530px);

        .title{
            margin-bottom: 10px;
        }

        p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: clamp(16px, 1.3846vw, 18px);
            line-height: 130%;
            color: rgba(var(--cl-b),1.0);

            @include small-tablet{
                order: 3;
            }
        }

        .main-button{
            

            @include small-tablet{
                order: 4;
            }

            @include for-mobile{
                width: fit-content;
            }
        }

        @include small-tablet{
            max-width: 100%;
        }
    }

    .faq-acc{
        @include small-tablet{
            order: 2;
            max-width: 100%;
            margin-bottom: 9px;
        }
    }
}