.filters-section {
    position: relative;
    padding: 60px 0;

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(16px, 2.222vw, 32px);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: rgba(var(--cl-d),1.0);

        svg {
            stroke: currentColor;
        }

        @include small-tablet {
            display: none;
        }
    }

    &__controls {
        margin-bottom: 32px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(16px, 2.222vw, 32px);

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: 100%;
        }
    }

    &__item {
        position: relative;
        height: fit-content;

        &-image {
            display: flex;
            padding: 12px 24px 0;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        &-title {
            display: block;
            margin-bottom: 8px;
            font-family: var(--font-primary);
            font-size: clamp(20px, 1.667vw, 24px);
            line-height: 133%;
            font-weight: 700;
        }

        &-link {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-left: auto;
            color: rgba(var(--cl-d),1.0);

            svg {
                stroke: currentColor;
            }
        }
    }

    &__head {
        clip-path: polygon(100% 31.909%, 100% 100%, 0% 100%, 0% 23.16%, 0% 23.16%, 0.091% 19.441%, 0.356% 15.92%, 0.778% 12.646%, 1.344% 9.667%, 2.038% 7.032%, 2.845% 4.789%, 3.752% 2.986%, 4.742% 1.671%, 5.801% 0.892%, 6.914% 0.699%, 93.491% 9.447%, 93.491% 9.447%, 94.554% 9.837%, 95.56% 10.758%, 96.496% 12.165%, 97.349% 14.014%, 98.105% 16.26%, 98.753% 18.86%, 99.279% 21.77%, 99.671% 24.944%, 99.916% 28.338%, 100% 31.909%);
        background-color: white;
        padding-top: 24px;
    }

    &__info {
        position: relative;
        z-index: 1;
        padding: 24px 24px 0;
        background-color: #fff;
    }

    &__bottom {
        margin-top: -24px;
        padding: 24px;
        clip-path: polygon( 0% 44.976%,0% 44.976%,0.061% 49.892%,0.237% 54.57%,0.519% 58.948%,0.898% 62.966%,1.364% 66.564%,1.91% 69.681%,2.525% 72.257%,3.201% 74.232%,3.929% 75.544%,4.698% 76.134%,94.894% 100%,94.894% 100%,95.714% 99.785%,96.495% 98.745%,97.225% 96.946%,97.895% 94.457%,98.491% 91.347%,99.005% 87.682%,99.424% 83.531%,99.736% 78.962%,99.932% 74.043%,100% 68.842%,100% 0%,0% 0%,0% 44.976% );
        background-color: #fff;
    }

    &__pagination {
        margin-top: 32px;
    }
}