.filters-section {
    position: relative;
    padding: 60px 0;

    @include small-tablet {
        order: -1;
        padding: 30px 0 60px;
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(16px, 2.222vw, 32px);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @include small-tablet {
            display: contents;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: rgba(var(--cl-d),1.0);
        transition: all 0.4s ease;

        svg {
            stroke: currentColor;
            transition: all 0.4s ease;
        }

        &:hover,
        &:active {
            color: rgba(var(--cl-g),1.0);

            svg {
                transform: translateX(5px);
            }
        }

        @include tablet {
            display: none;
        }
    }

    &__btn {
        display: none;
        align-items: center;
        grid-gap: 10px;
        font-family: var(--font-second);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: rgba(var(--cl-d),1.0);

        @include tablet {
            display: flex;
            margin-left: auto;
        }

        svg{
            transition: all .2s;
        }

        &:hover{
            svg{
                transform: scale(1.1);
            }
        }
    }

    &__controls {
        margin-bottom: 32px;

        display: grid;
        grid-gap: 15px clamp(16px, 2.222vw, 32px);
        width: 100%;

        @include for-laptop{
            grid-template-columns: repeat(4, 1fr);
        }

        @include laptop{
            @include for-tablet{
                grid-template-columns: repeat(2, 1.15fr) repeat(2, 1fr);
            }
        }

        .search{
            @include for-tablet{
                grid-column: 3/5;
                justify-self: end;
            }

            @include tablet{
                grid-column: 1/-1;
            }

            @include small-tablet{
                display: none;
            }
        }

        @include tablet{
            grid-template-columns: repeat(2, 1fr);
        }

        &-title{
            font-weight: 500;
            font-size: 14px;
            line-height: 129%;
            letter-spacing: -0.02em;
        }

        &-box{
            display: flex;
            flex-direction: column;
            grid-gap: 4px;
        }

        @include tablet{
            display: none;
        }

        &.category-page {
            .search {
                @include for-tablet{
                    grid-column: 4/5;
                    justify-self: end;
                }
            }
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(16px, 2.222vw, 32px);

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: 100%;
        }
    }

    &__item {
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 24px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: white;
            z-index: -1;
            transform: skewY(2deg);
            border-radius: 24px;
        }

        &-image {
            display: flex;
            border-radius: 8px;
            overflow: hidden;
            transition: all 0.3s ease;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                transition: all 0.3s ease;
            }
        }

        &-tags {
            position: absolute;
            left: 10px;
            bottom: 10px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 4px;
        
            a {
                padding: 2px 6px 4px 6px;
                background: rgba(var(--bg-b),0.4);
                border-radius: 4px;
                font-family: var(--font-primary);
                font-size: 14px;
                line-height: 114%;
                font-weight: 700;
                letter-spacing: -0.02em;
                color: rgba(var(--cl-a),1.0);
                transition: all 0.15s ease;
        
                &:hover,
                &:active {
                    background: rgba(var(--bg-b), 1);
                }
            }

            @include small-tablet {
                display: none;
            }
        }

        &-details {
            margin-bottom: 8px;
        }

        &-title {
            display: block;
            margin-bottom: 8px;
            font-family: var(--font-primary);
            font-size: clamp(20px, 1.667vw, 24px);
            line-height: 133%;
            font-weight: 700;
            transition: all 0.15s ease;
        }

        &-link {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-left: auto;
            color: rgba(var(--cl-d),1.0);
            transition: all 0.15s ease;

            svg {
                transition: all 0.15s ease;
                stroke: currentColor;
            }
        }

        &:hover {
            .filters-section__item-title {
                color: rgba(var(--cl-d),1.0);
            }

            picture,
            img {
                transform: scale(1.05);
            }

            .filters-section__item-link svg {
                transform: translateX(5px);
            }
        }

        &:active {
            .filters-section__item-title {
                color: rgba(var(--cl-g),1.0);
            }

            picture,
            img {
                transform: scale(1.05);
            }

            .filters-section__item-link {
                color: rgba(var(--cl-g),1.0); 
                
                svg {
                    transform: translateX(5px);
                }
            }
        }
    }

    &__head {
        position: relative;
        margin-bottom: 24px;
    }

    &__pagination {
        margin-top: 32px;

        @include small-tablet { 
            display: none;
        }
    }

    &__more {
        margin: clamp(24px, 5.469vw, 56px) auto 0;
        padding: 14px 56px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: var(--font-second);
        font-size: 18px;
        line-height: 167%;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: rgba(var(--cl-d),1.0);
        background: transparent;
        border: 2px solid rgba(var(--cl-d),1.0);
        border-radius: 100px;
        transition: all 0.4s ease;

        svg {
            stroke: currentColor;
        }

        &:hover {
            padding: 14px 66px;
        }

        &:active {
            background-color: rgba(var(--bg-g),1.0);
        }
    }
}