.first-section{
    position: relative;
    padding: clamp(30px, 5.859vw, 60px) 0;
    z-index: 2;

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(60px, 5.556vw, 80px)
    }

    &__title {
        max-width: 720px;

        @include laptop {
            max-width: 100%;
        }
    }

    &__articles {
        display: grid;
        grid-template-columns: 1fr 41%;
        align-items: start;
        grid-gap: 40px clamp(40px, 5.729vw, 110px);

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            align-items: stretch;
        }

        @include small-tablet {
            grid-template-columns: 100%;
        }
    }

    &__article {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 188px;
        clip-path: polygon( 1.4% 85.552%,1.4% 85.552%,1.496% 87.933%,1.687% 90.178%,1.965% 92.26%,2.322% 94.152%,2.75% 95.826%,3.241% 97.257%,3.787% 98.417%,4.38% 99.278%,5.012% 99.815%,5.675% 100%,94.641% 99.998%,94.641% 99.998%,95.307% 99.812%,95.941% 99.271%,96.536% 98.402%,97.084% 97.233%,97.575% 95.792%,98.004% 94.105%,98.36% 92.201%,98.636% 90.106%,98.825% 87.848%,98.918% 85.454%,100% 22.287%,100% 22.287%,99.985% 19.687%,99.855% 17.202%,99.62% 14.87%,99.288% 12.725%,98.87% 10.805%,98.374% 9.144%,97.809% 7.78%,97.184% 6.748%,96.51% 6.085%,95.795% 5.826%,4.451% 0.285%,4.451% 0.285%,3.715% 0.467%,3.018% 1.078%,2.373% 2.081%,1.787% 3.438%,1.272% 5.109%,0.837% 7.056%,0.493% 9.241%,0.249% 11.626%,0.116% 14.172%,0.103% 16.842%,1.4% 85.552% );
        background-color: white;


        &-image {
            position: relative;
            display: flex;
            order: 1;
            clip-path: polygon( 1.873% 15.71%,1.873% 15.71%,2.033% 13.764%,2.415% 11.919%,3% 10.198%,3.771% 8.624%,4.71% 7.219%,5.799% 6.006%,7.02% 5.009%,8.355% 4.251%,9.787% 3.753%,11.298% 3.541%,88.607% 0.399%,88.607% 0.399%,90.198% 0.5%,91.714% 0.918%,93.135% 1.628%,94.439% 2.604%,95.606% 3.821%,96.614% 5.253%,97.444% 6.875%,98.073% 8.662%,98.481% 10.587%,98.648% 12.626%,100% 85.604%,100% 85.604%,99.909% 87.652%,99.572% 89.601%,99.009% 91.425%,98.239% 93.097%,97.284% 94.589%,96.163% 95.877%,94.895% 96.931%,93.501% 97.727%,92.001% 98.236%,90.414% 98.433%,10.17% 100%,10.17% 100%,8.542% 99.858%,6.999% 99.386%,5.561% 98.612%,4.252% 97.564%,3.092% 96.271%,2.103% 94.761%,1.307% 93.062%,0.725% 91.201%,0.379% 89.209%,0.29% 87.111%,1.873% 15.71% );

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 18px;
                box-shadow: 0 24px 48px 0 rgba(50, 50, 71, 0.06), 0 12px 24px 0 rgba(50, 50, 71, 0.04);
            }
        }

        &-info {
            padding: 0 clamp(16px, 2.222vw, 32px);
            display: flex;
            align-items: center;
        }

        &-heading {
            font-family: var(--font-primary);
            font-size: clamp(20px, 1.667vw, 24px);
            line-height: 133%;
            font-weight: 700;
            letter-spacing: -0.02em;
        }

        &-text {
            display: none;
            margin-bottom: clamp(4px, 0.833vw, 12px);
            font-size: clamp(16px, 1.389vw, 20px);
            line-height: 160%;
            font-weight: 300;
        }

        &-details {
            display: none;
        }

        &:first-child {
            grid-row: span 3;
            display: grid;
            grid-template-columns: 100%;
            clip-path: none;
            background-color: transparent;

            .first-section__article-image {
                order: -1;
                margin-bottom: 24px;
                clip-path: polygon( 1.825% 17.904%,1.825% 17.904%,1.994% 15.597%,2.383% 13.412%,2.975% 11.375%,3.753% 9.513%,4.697% 7.853%,5.791% 6.423%,7.016% 5.25%,8.355% 4.36%,9.789% 3.782%,11.301% 3.541%,88.738% 0.395%,88.738% 0.395%,90.319% 0.525%,91.826% 1.026%,93.237% 1.869%,94.533% 3.024%,95.693% 4.461%,96.697% 6.15%,97.523% 8.063%,98.152% 10.168%,98.562% 12.437%,98.734% 14.84%,100% 83.145%,100% 83.145%,99.915% 85.587%,99.581% 87.912%,99.019% 90.088%,98.249% 92.082%,97.291% 93.863%,96.165% 95.398%,94.891% 96.655%,93.49% 97.601%,91.982% 98.206%,90.388% 98.436%,10.205% 100%,10.205% 100%,8.573% 99.825%,7.027% 99.257%,5.589% 98.33%,4.279% 97.078%,3.121% 95.534%,2.134% 93.733%,1.342% 91.708%,0.765% 89.492%,0.426% 87.121%,0.345% 84.627%,1.825% 17.904% );

                picture,
                img {
                    box-shadow: 0 32px 64px 0 rgba(50, 50, 71, 0.04), 0 16px 32px 0 rgba(50, 50, 71, 0.04);
                    border-radius: 61px;
                }
            }

            .first-section__article-info {
                padding: 0 16px;
                flex-direction: column;
                align-items: flex-start;
            }

            .first-section__article-heading {
                display: block;
                margin-bottom: 4px;
                font-family: var(--font-primary);
                font-size: clamp(24px, 2.5vw, 36px);
                line-height: 133%;
                font-weight: 600;
            }

            .first-section__article-text {
                display: flex;
            }

            .first-section__article-details {
                display: flex;
            }     
        }

        @include tablet {
            display: flex;
            flex-direction: column;

            &:first-child {
                grid-row: initial;
                display: flex;
                flex-direction: column;

                .first-section__article-image {
                    flex-grow: 1;
                }
            }
            
            &-image {
                order: -1;
                margin-bottom: 24px;

                picture,
                img {
                    box-shadow: 0 32px 64px 0 rgba(50, 50, 71, 0.04), 0 16px 32px 0 rgba(50, 50, 71, 0.04);
                    border-radius: 61px;
                }
            }

            &-info {
                padding: 0 16px;
                flex-direction: column;
                align-items: flex-start;
                flex-grow: 1;
            }

            &-heading {
                display: block;
                margin-bottom: 4px;
                font-family: var(--font-primary);
                font-size: clamp(24px, 2.5vw, 36px);
                line-height: 133%;
                font-weight: 600;
            }

            &-text {
                display: flex;
                flex-grow: 1;
            }

            &-details {
                display: flex;
            }
        }
    }
}