header {
  padding-top: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 80;

  @include tablet {
    padding-top: 0;

    .container {
      padding: 0;
    }
  }
}

.header {
  position: relative;
  z-index: 30;
  
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  align-items: center;
  grid-gap: clamp(10px, 1.29vw, 16px);

  padding: 12px;
  background-color: rgba(var(--bg-a),1.0);
  border-radius: 72px;
  box-shadow: 0 32px 64px 0 rgba(50, 50, 71, 0.04), 0 16px 32px 0 rgba(50, 50, 71, 0.04);

  @include tablet {
    border-radius: 0;
    gap: 0;
    width: fit-content;
    margin-left: auto;

    padding: 0;
    padding-left: 25px;


    display: flex;
    background-color: transparent;
    box-shadow: none;


    &::before {
      content: '';
      position: absolute;
      clip-path: polygon( 35.135% 36.307%,35.135% 36.307%,35.418% 31.619%,36.233% 27.223%,37.527% 23.186%,39.248% 19.572%,41.345% 16.448%,43.765% 13.878%,46.457% 11.93%,49.367% 10.667%,52.444% 10.157%,55.637% 10.463%,94.355% 19.297%,94.355% 19.297%,95.303% 19.618%,96.19% 20.125%,97.007% 20.803%,97.746% 21.636%,98.396% 22.607%,98.949% 23.701%,99.395% 24.902%,99.725% 26.194%,99.93% 27.562%,100% 28.988%,100% 100%,35.135% 100%,35.135% 36.307% );
      width: 160%;
      height: 160%;
      background-color: white;
      left: 0;
      transform: rotate(228deg);
    }

  }

  &__logo {
    display: flex;

    svg {
      width: clamp(155px, 15.806vw, 196px);
    }

    @include for-tablet {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include tablet {
      display: none;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 12px;

    @include for-tablet {
      justify-self: end;
    }

    @include tablet {
      display: none;
    }
  }

  &__boarded {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border: 2px solid rgba(var(--cl-f),1.0);
    background: transparent;
    border-radius: 100px;
    font-size: 16px;
    line-height: 125%;
    font-weight: 500;
    color: rgba(var(--cl-f),1.0);
    transition: all 0.4s ease;

    svg {
      stroke: currentColor;
    }

    &:hover {
      background: #f5f5f5;
    }

    &:active {
      background: #ebebeb;
    }
  }

  &__blue {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;
    background: linear-gradient(315deg, #0a8bd3 0%, #2ab2ff 100%);
    border-radius: 100px;
    font-size: 16px;
    line-height: 125%;
    font-weight: 500;
    color: rgba(var(--cl-a),1.0);

    span {
      position: relative;
      z-index: 5;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(315deg, #0a8bd3 0%, #0a8bd3 100%);
      border-radius: 100px;
      opacity: 0;
      transition: all 0.4s ease;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(315deg, #0081c9 0%, #0081c9 100%);
      border-radius: 100px;
      opacity: 0;
      transition: all 0.4s ease;
      z-index: -1;
    }

    &:hover::before {
      opacity: 1;
      z-index: 0;
    }

    &:active::after {
      opacity: 1;
      z-index: 1;
    }
  }


}