.info-section{
    padding: clamp(40px, 6.944vw, 100px) 0 clamp(50px, 6.944vw, 100px);

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: clamp(32px, 4.444vw, 64px);

        svg {
            width: clamp(196px, 20.417vw, 294px);
            height: clamp(40px, 4.167vw, 60px);
        }
    }

    &__wrapp {
        margin: 0 auto;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        text-align: center;
    }

    &__heading {
        font-family: var(--font-primary);
        font-size: 20px;
        line-height: 160%;
        font-weight: 700;
        color: rgba(var(--cl-d),1.0);
    }

    &__btn {
        padding: 14px 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(var(--bg-d),1.0);
        border-radius: 100px;
        font-family: var(--font-second);
        font-size: 18px;
        line-height: 167%;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: rgba(var(--cl-a),1.0);
        transition: all 0.4s ease;

        &:hover,
        &:active {
            background-color: rgba(var(--cl-g),1.0);
        }
    }
}