.interesting-section {
    max-width: 1488px;
    margin: 0 auto;
    padding: 60px 0;
    background: #fafafa;
    border-radius: 64px;
    box-shadow: 16px 30px 76px 0 rgba(0, 0, 0, 0.05), 64px 122px 137px 0 rgba(0, 0, 0, 0.04), 144px 274px 186px 0 rgba(0, 0, 0, 0.03), 256px 486px 220px 0 rgba(0, 0, 0, 0.01), 400px 760px 240px 0 rgba(0, 0, 0, 0);

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__tabs {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-controls {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    &__tab {
        position: relative;
        transition: all 0.4s ease;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            bottom: -8px;
            height: 4px;
            width: 100%;
            border-radius: 6px;
            background-color: currentColor;
            transition: 0.4s ease;
        }

        button {
            font-family: var(--font-primary);
            font-size: 18px;
            line-height: 167%;
            font-weight: 700;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: currentColor;
            transition: 0.4s ease;
            pointer-events: none;
        }

        &:hover,
        &.active {
            color: rgba(var(--cl-d),1.0);
        }
    }
}