.interesting-section {
    position: relative;
    max-width: 1488px;
    width: 100%;
    margin: 0 auto;
    padding: clamp(40px, 4.167vw, 60px) 0;
    background: #fafafa;
    border-radius: clamp(32px, 4.444vw, 64px);
    box-shadow: 16px 30px 76px 0 rgba(0, 0, 0, 0.05), 64px 122px 137px 0 rgba(0, 0, 0, 0.04), 144px 274px 186px 0 rgba(0, 0, 0, 0.03), 256px 486px 220px 0 rgba(0, 0, 0, 0.01), 400px 760px 240px 0 rgba(0, 0, 0, 0);

    @include small-tablet { 
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        left: -2.5%;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../img/interestion-bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 105%;
        height: 80%;
        z-index: -1;

        @include desktop { 
            display: none;
        }
    }

    &__wrapp {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__tabs {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-controls {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: clamp(8px, 1.667vw, 24px);
        }
    }

    &__tab {
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            bottom: -8px;
            height: 4px;
            width: 100%;
            border-radius: 6px;
            background-color: transparent;
            transition: all 0.3s ease-in-out;
        }

        button {
            position: relative;
            font-family: var(--font-primary);
            font-size: 18px;
            line-height: 167%;
            font-weight: 700;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: currentColor;
            transition: 0.3s ease-in-out;
            pointer-events: none;
        }

        &:hover::before {
            background-color: rgba(var(--cl-b), 0.4);
        }

        &.active {
            color: rgba(var(--cl-d),1.0);

            &::before {
                background-color: rgba(var(--bg-d),1.0);
            }
        }

        @include tablet {
            &:before {
                display: none;
            }

            button {
                background: rgba(var(--cl-b), 0.4);
                border-radius: clamp(4px, 0.781vw, 8px);
                padding: clamp(2px, 1.302vw, 10px) clamp(6px, 1.302vw, 10px) clamp(4px, 1.302vw, 10px);
                font-size: clamp(16px, 1.953vw, 20px);
                line-height: 114%;
                text-transform: initial;
                color: rgba(var(--cl-a),1.0);
            }
            
            &:hover,
            &.active {
                border-radius: clamp(4px, 0.781vw, 8px);
                background: rgba(var(--bg-d),1.0);
            }
        }
    }
}