.service-section{
   padding-bottom: clamp(64px, 9.2308vw, 120px);

    &__box{
        border: 1px solid var(--br-a);
        border-radius: 10px;
        padding: clamp(32px, 4.6154vw, 60px) clamp(24px, 6.1538vw, 80px);
        background: rgba(var(--cl-c),1.0);
        display: flex;
        flex-direction: column;
        grid-gap: clamp(16px, 3.0769vw, 40px);
        position: relative;

        .main-button{
            width: fit-content;

            @include mobile{
                width: 100%;
                justify-content: center;
                &:not(:hover){
                    background: rgba(var(--bg-h),1.0);
                }
            }
        }

        @include mobile{
            padding-bottom: 0;
            background: rgba(var(--bg-i),1.0);
        }
    }

    &__image{
        position: absolute;
        right: clamp(24px, 6.1538vw, 80px);
        bottom: 18px;
        z-index: 1;
        width: Min(40vw, 520px);
        height: Min(36.5385vw, 475px);
        img,picture{
            width: 100%;
            height: 100%;
            position: relative;

            &::before{
                position: absolute;
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='67' height='103' fill='none'%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M34.6087 57.9362H23.7031v43.6408h10.9056V57.9362Z'/%3E%3Cpath fill='%23FFF7D0' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M39.8742 64.6626c0 5.512-4.472 9.9963-9.9948 9.9963-.327 0-.6539-.0234-.9808-.0467-5.0675-.5022-9.0141-4.7646-9.0141-9.9496 0-5.512 4.472-9.9963 9.9949-9.9963 4.6588 0 8.5703 3.1997 9.6795 7.5089.2102.7941.3153 1.6349.3153 2.4874Z'/%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m57.7907 37.558-14.5368 7.8285 3.0113 5.5935 14.5369-7.8285-3.0114-5.5935Z'/%3E%3Cpath fill='%23FFF7D0' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m63.2033 43.7707-7.1692 3.8654-4.5771-8.4899 7.1692-3.8653c2.3469-1.2612 5.266-.3854 6.527 1.9619 1.2611 2.3472.3853 5.2667-1.9616 6.5279h.0117Z'/%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m31.8188 7.7676-.5021 29.6152-6.3519-.0934.5138-29.627 6.3402.1052Z'/%3E%3Cpath fill='%23FFF7D0' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m33.5464 5.981-.1284 8.1395-9.6446-.1518.1285-8.1395c.0467-2.6626 2.2301-4.788 4.8923-4.753 2.6622.0467 4.7873 2.2305 4.7522 4.893v.0118Z'/%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M55.5441 18.5114 41.6143 44.6467l-5.6045-2.9662 13.9297-26.1469 5.6046 2.9778Z'/%3E%3Cpath fill='%23FFF7D0' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m57.8906 17.7057-3.8181 7.1936-8.5237-4.5194 3.8181-7.1936c1.2494-2.3472 4.1685-3.2464 6.5154-1.9969 2.3586 1.2496 3.246 4.169 1.9966 6.5163h.0117Z'/%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m9.306 18.3947 13.8012 26.2052-5.6045 2.9662-13.813-26.2053 5.6162-2.9661Z'/%3E%3Cpath fill='%23FFF7D0' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M22.2543 37.3946c-.5721-3.3749-3.783-5.6521-7.1691-5.0799-3.3745.5722-5.6513 3.7837-5.0792 7.1703.5721 3.3749 3.7831 5.6521 7.1692 5.0799 3.3744-.5722 5.6513-3.7837 5.0791-7.1703ZM28.3387 38.2121c3.4306 0 6.2117-2.7815 6.2117-6.2127s-2.7811-6.2127-6.2117-6.2127c-3.4307 0-6.2117 2.7815-6.2117 6.2127s2.781 6.2127 6.2117 6.2127ZM48.6073 35.5846c.5254-3.3866-1.8099-6.563-5.196-7.0768-3.3861-.5255-6.562 1.8101-7.0757 5.1967-.5255 3.3866 1.8098 6.563 5.1959 7.0768 3.3861.5255 6.562-1.8101 7.0758-5.1967ZM9.9598 16.0007l3.8065 7.1936-8.5237 4.5077-3.8064-7.1937c-1.2494-2.3589-.3503-5.2784 2.0083-6.5162 2.3586-1.2496 5.2776-.3504 6.5153 2.0086Z'/%3E%3Cpath fill='%23FFF7D0' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M47.4172 49.3879c0 9.681-7.8581 17.5286-17.526 17.5286-.5838 0-1.1443-.035-1.7164-.0817-8.8856-.8759-15.8213-8.3615-15.8213-17.4586 0-9.681 7.8581-17.5285 17.526-17.5285 8.1734 0 15.039 5.6053 16.9889 13.1726.362 1.4014.5488 2.8612.5488 4.3676Z'/%3E%3Cpath fill='%23FFF7D0' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M47.4162 49.3879c0 9.681-7.8581 17.5285-17.526 17.5285-.5838 0-1.1443-.035-1.7164-.0817-.362-1.4013-.5488-2.8611-.5488-4.3675 0-9.6811 7.8581-17.5286 17.526-17.5286.5838 0 1.1443.035 1.7164.0817.362 1.4014.5488 2.8611.5488 4.3676Z'/%3E%3C/svg%3E"); background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                width: Min(4.923vw, 64px);
                height: Min(7.692vw, 100px);
                bottom: 22.5%;
                left: 0;
                animation: handRotate 2s infinite alternate linear;
                pointer-events: none;

                @include mobile{
                    bottom: 34%;
                    left: 18.5%;
                    background-size: contain;
                    width:  74px;
                    height: 110px;
                }
            }
        }

        @media (min-width: (576px)) and (max-width: (768px)) {
            bottom: 50%;
            transform: translateY(50%);
        }

        @include mobile{
            right: initial;
            position: relative;
            bottom: -15px;
            width: 354px;
            height: 309px;
            left: -15px;
        }

        @include ios{
            left: -40px;
        }

        @keyframes handRotate {
            0% {
                transform: translate(0px, 0px) rotateZ(0deg);
            }
            50%{
                transform: translate(-24%, 5.5%) rotateZ(-22.5deg);
            }
            100% {
                transform: translate(-48%, 11%) rotateZ(-45deg);
            }
        }

        @include small-tablet{
            @keyframes handRotate {
                0% {
                    transform: translate(0px, 0px) rotateZ(0deg);
                }
                50%{
                    transform: translate(-24%, 3%) rotateZ(-22.5deg);
                }
                100% {
                    transform: translate(-48%, 9%) rotateZ(-45deg);
                }
            }
            
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(7px, .7692vw, 10px);
        z-index: 2;
        max-width: Min(46.4615vw, 604px);
       
        @media (min-width: (768px)) and (max-width: (1024px)) {
            max-width: Min(35.156vw, 360px);
        }
        @media (min-width: (576px)) and (max-width: (768px)) {
            max-width: Min(39.063vw, 300px);
        }

        @include mobile{
            max-width: 100%;
        }
    }

    .title{
        font-weight: 600;
        text-transform: uppercase;
        @include mobile{
            color: rgba(var(--cl-a),1.0);
        }
    }

    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(16px, 1.3846vw, 18px);
        line-height: 130%;
        color: rgba(var(--cl-b),1.0);

        @include mobile{
            color: rgba(var(--cl-a),1.0);
        }
    }
}