.subscribe-section {
    position: relative;
    padding: clamp(30px, 4.839vw, 60px) 0;
    z-index: 5;

    &__wrapp {
        width: 100%;
        padding: 48px;
        display: flex;
        align-items: center;
        gap: 48px;
        background: linear-gradient(180deg, #f6e2b7 0%, #fade97 100%);
        border-radius: 64px;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        @include small-tablet {
            position: relative;
            padding: 32px 24px;
            border-radius: 32px;
            background: transparent;
            color: rgba(var(--cl-a),1.0);
        }
    }

    &__image {
        display: flex;
        max-width: 454px;
        width: 100%;
        flex-shrink: 0;
        clip-path: polygon( 2.554% 14.783%,2.554% 14.783%,2.792% 12.745%,3.35% 10.814%,4.204% 9.012%,5.327% 7.363%,6.693% 5.893%,8.277% 4.624%,10.052% 3.581%,11.993% 2.787%,14.074% 2.267%,16.269% 2.045%,85.388% 0.024%,85.388% 0.024%,87.771% 0.139%,90.034% 0.604%,92.147% 1.391%,94.076% 2.47%,95.79% 3.812%,97.257% 5.386%,98.443% 7.163%,99.318% 9.114%,99.847% 11.209%,100% 13.418%,98.486% 87.104%,98.486% 87.104%,98.256% 89.235%,97.677% 91.249%,96.778% 93.121%,95.59% 94.824%,94.141% 96.331%,92.462% 97.616%,90.582% 98.652%,88.531% 99.412%,86.34% 99.87%,84.037% 100%,14.098% 98.704%,14.098% 98.704%,11.787% 98.487%,9.604% 97.941%,7.578% 97.095%,5.737% 95.978%,4.111% 94.617%,2.729% 93.041%,1.62% 91.278%,0.813% 89.357%,0.336% 87.306%,0.219% 85.153%,2.554% 14.783% );

        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 48px;
        }

        @include small-tablet {
            max-width: 100%;
            position: absolute;
            inset: 0;
            clip-path: none;
            z-index: -1;

            picture,
            img {
                border-radius: 32px;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 32px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
            }
        }
    }

    &__info {
        max-width: 660px;
        display: flex;
        flex-direction: column;
        gap: 16px
    }

    &__heading {
        font-family: var(--font-primary);
        font-size: clamp(24px, 1.806vw, 26px);
        line-height: 154%;
        font-weight: 600;

        .brown {
            color: #d36c40;
        }

        .green {
            color: #0d7768;
        }

        @include small-tablet {
            color: rgba(var(--cl-a),1.0);
        }
    }

    &__text {
        font-size: clamp(14px, 1.111vw, 16px);
        font-weight: 300;
        line-height: 169%;
        letter-spacing: -0.02em;

        a {
            font-weight: 400;
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }

        @include small-tablet {
            color: rgba(var(--cl-a),1.0);
        }
    }

    &__form {
        padding: 16px 0;

        label {
            height: 54px;
            width: 100%;
            position: relative;
            border-radius: 100px;
            padding: 14px 24px;
            background: rgba(var(--bg-a),1.0);
            box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12);
        }

        input {
            font-family: var(--font-second);
            font-size: 18px;
            line-height: 167%;
            letter-spacing: -0.02em;
            color: rgba(var(--cl-c),1.0);

            &::placeholder {
                color: rgba(var(--cl-c),0.75);
            }
        }

        button {
            position: absolute;
            height: 50px;
            top: 50%;
            right: 4px;
            transform: translateY(-50%);
            font-family: var(--font-second);
            font-size: 18px;
            line-height: 167%;
            font-weight: 500;
            letter-spacing: -0.02em;
            padding: 10px 16px;
            display: flex;
            align-items: center;
            gap: 10px;
            background: linear-gradient(180deg, #e594aa 0, #c069d8 100%), linear-gradient(180deg, #5caced 0, #2f50b0 100%);
            border-radius: 100px;
            color: rgba(var(--cl-a),1.0);
            transition: all 0.4s ease;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background: #dd8bb4;
                opacity: 0;
                border-radius: 100px;
                z-index: -1;
                transition: all 0.4s ease;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: #c56fd3;
                opacity: 0;
                border-radius: 100px;
                z-index: -1;
                transition: all 0.4s ease;
            }

            &:hover::before {
                opacity: 1;
            }

            &:active::before {
                opacity: 0;
            }

            &:active::after {
                opacity: 1;
            }

            svg {
                stroke: currentColor;
            }
        }

        @include small-tablet {
            label {
                padding: 0;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 16px;
                background-color: transparent;
            }

            input {
                padding: 10px 16px;
                background-color: rgba(var(--bg-a),1.0);
                border-radius: 100px;
            }

            button {
                position: relative;
                top: initial;
                transform: initial;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: var(--font-second);
                font-size: 18px;
                line-height: 167%;
                letter-spacing: -0.02em;
            }
        }
    }

    form:invalid button {
        cursor: not-allowed;
        background: linear-gradient(180deg, #a5a5a5 0, #707070 100%), linear-gradient(180deg, #5caced 0, #2f50b0 100%);

        &:hover::before {
            opacity: 0;
        }

        &:active::after {
            opacity: 0;
        }
    }
}