.usefull-section {
    padding: 60px 0;
    order: -1;

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 12px;

        @include small-tablet {
            display: none;
        }
    }

    &__control {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(var(--bg-d),1.0);
        border: 2px solid rgba(var(--bg-d),1.0);
        border-radius: 100px;
        transition: all 0.4s ease;

        svg {
            stroke: currentColor;
            transition: all 0.4s ease;
        }

        &:hover {
            background-color: #EFE7DD;
            transform: scale(1.15);
            color:  #006354;
        }

        &:active {
            background-color: rgba(var(#efe7dd), 0.75);
            transform: scale(1.15);
            color:  #006354;
        }

        &:disabled {
            width: 44px;
            height: 44px;
            color: rgba(var(--bg-c), 0.5);
            border: 2px solid rgba(var(--bg-c), 0.5);
            pointer-events: none;
        }
    }

    &__slider {
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include small-tablet {
            width: 100vw;
            margin-left: -16px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__card {
        position: relative;
        height: 100%;
        transition: all 0.4s ease;
        // padding: 24px 24px 72px;

        &-bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            picture, 
            img {
                width: 100%;
                height: 100%;
                // object-fit: 100%;
            }
        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-image: var(--usefull-card);
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     z-index: -1;
        // }

        &-info {
            position: relative;
            padding: 24px 24px 72px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            z-index: 2;

            // &::before {
            //     content: '';
            //     position: absolute;
            //     background-image: var(--usefull-card);
            //     background-repeat: no-repeat;
            //     inset: 0;
            //     z-index: -1;
            // }
        }

        &-image {
            display: flex;
            border-radius: 8px;
            overflow: hidden;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                transition: all 0.3s ease;
                transition-duration: 1s;
            }
        }

        &-title {
            display: block;
            margin-bottom: 8px;
            font-family: var(--font-primary);
            font-size: clamp(20px, 1.667vw, 24px);
            line-height: 133%;
            font-weight: 700;
            transition: all 0.4s ease;
        }

        &-download {
            position: absolute;
            right: 24px;
            bottom: 24px;
            z-index: 10;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            transition: all 0.4s ease;
            
            svg {
                transition: all 0.4s ease;
                stroke: rgba(var(--cl-d),1.0);
            }

            &:hover {
                background-color: rgba(var(--bg-d),1.0);

                svg {
                    stroke: rgba(var(--cl-a),1.0);
                }
            }
        }

        &:hover {
            transition: all 0.4s ease;

            span {
                color: rgba(var(--cl-d),1.0);
            }

            // picture,
            // img {
            //     transform: scale(1.05);
            // }
        }
    }

    &__pagination {
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 16px;

        span {
            width: 6px;
            height: 6px;
            background: rgba(var(--bg-c),1.0);

            &.swiper-pagination-bullet-active {
                width: 12px;
                height: 12px;
                background: rgba(var(--bg-d),1.0);
            }
        }

        @include tablet {
            display: flex;
        }
    }

    &__material {
        position: relative;
        height: 100%;
        transition: all 0.4s ease;

        &-card {
            display: block;
        }

        &-top {
            clip-path: polygon( 100% 31.909%,100% 100%,0% 100%,0% 23.16%,0% 23.16%,0.091% 19.441%,0.356% 15.92%,0.778% 12.646%,1.344% 9.667%,2.038% 7.032%,2.845% 4.789%,3.752% 2.986%,4.742% 1.671%,5.801% 0.892%,6.914% 0.699%,93.491% 9.447%,93.491% 9.447%,94.554% 9.837%,95.56% 10.758%,96.496% 12.165%,97.349% 14.014%,98.105% 16.26%,98.753% 18.86%,99.279% 21.77%,99.671% 24.944%,99.916% 28.338%,100% 31.909% );
            background-color: white;
            padding: 24px 24px 0;
        }

        &-image {
            display: flex;
            border-radius: 8px;
            overflow: hidden;
            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                transition: all 0.3s ease;
                transition-duration: 1s;
            }
        }

        &-info {
            padding: 24px 24px 72px;
            background-color: #fff;
            clip-path: polygon( 92.907% 100%,6.33% 89.101%,6.33% 89.101%,5.289% 88.79%,4.307% 88.143%,3.396% 87.191%,2.567% 85.959%,1.833% 84.476%,1.205% 82.771%,0.696% 80.872%,0.317% 78.806%,0.081% 76.602%,0% 74.288%,0% 0%,100% 0%,100% 85.187%,100% 85.187%,99.905% 87.687%,99.632% 90.048%,99.196% 92.238%,98.612% 94.224%,97.897% 95.973%,97.067% 97.451%,96.137% 98.626%,95.123% 99.464%,94.041% 99.933%,92.907% 100% );
        }

        &-title {
            display: block;
            margin-bottom: 8px;
            font-family: var(--font-primary);
            font-size: clamp(20px, 1.667vw, 24px);
            line-height: 133%;
            font-weight: 700;
            transition: all 0.4s ease;
        }

        &-download {
            position: absolute;
            right: 24px;
            bottom: 24px;
            z-index: 10;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            transition: all 0.4s ease;
            
            svg {
                transition: all 0.4s ease;
                stroke: rgba(var(--cl-d),1.0);
            }

            &:hover {
                background-color: rgba(var(--bg-d),1.0);

                svg {
                    stroke: rgba(var(--cl-a),1.0);
                }
            }
        }

        &:hover {
            transition: all 0.4s ease;
            span {
                color: rgba(var(--cl-d),1.0);
            }

            picture,
            img {
                transform: scale(1.05);
            }

            .usefull-section__material-download {
                background-color: rgba(var(--bg-d),1.0);

                svg {
                    stroke: #fff;
                }
            }
            // picture,
            // img {
            //     transform: scale(1.05);
            // }
        }
    }
}

