// ------------------------------- first level
@import "general/fonts";
@import "general/mixins";
@import "general/vars";
@import "general/select";
@import 'general/swiper';
// @import "../../node_modules/aos/dist/aos";
@import "general/tabs";
// ------------------------------- second level
@import "general/global";
@import "general/typography";
@import "general/icons";
@import "general/buttons";
@import "general/components";
@import "general/blocks";




