<footer>
  <div class="container">
    <div class="footer">
      <!-- <div class="footer__box">

        <div class="footer__col">
          <a href="index.html" class="logo" data-aos="zoom-in-up" data-aos-duration="1000">
            IFIX
          </a> 
          <span class="footer__text" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="50">Appliance repair & service
            in Charlotte NC</span>
          <div class="footer__image">
            <svg width='181' height='210' data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="150">
              <use href='img/sprite/sprite.svg#man2'></use>
            </svg>
          </div>

        </div>

        <div class="footer__col">
          <span class="subtitle subtitle--mode" data-aos="zoom-in-up" data-aos-duration="1000">Pages</span>

          <ul class="main-nav">
            <li class="main-nav__item">
              <a href="#" class="main-nav__link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="50">Services</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="100">Commercial</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="150">Appliance</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="200">Blog</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="250">Contacts</a>
            </li>
          </ul>
        </div>

        <div class="footer__col footer__col--mode">
          <div class="footer__wrapp">
            <span class="subtitle subtitle--mode" data-aos="zoom-in-up" data-aos-duration="1000">Contacts</span>
            <div class="footer__social">
              <a href="tel:+1(980)–500-0942" class="tel-link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="50">+1 980-500-0942</a>
              <ul class="social-list">
                <li class="social-list__item">
                  <a href="#" class="social-list__link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="100">
                    <svg width='18' height='18'>
                      <use href='img/sprite/sprite.svg#inst'></use>
                    </svg>
                  </a>
                </li>
                <li class="social-list__item">
                  <a href="#" class="social-list__link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="200">
                    <svg width='18' height='18'>
                      <use href='img/sprite/sprite.svg#fb'></use>
                    </svg>
                  </a>
                </li>
                <li class="social-list__item">
                  <a href="#" class="social-list__link" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">
                    <svg width='18' height='18'>
                      <use href='img/sprite/sprite.svg#youtube'></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="footer__map" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="200">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12994.994959954707!2d-80.89796683003185!3d35.485760000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856abf7afccbd07%3A0x4e222a0d3a840ec6!2sIfix%20Appliances%20Cornelius%2C%20NC!5e0!3m2!1sru!2sua!4v1710434998485!5m2!1sru!2sua" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
      </div> -->
      
     <div class="footer__bottom">
        <!-- <svg width="1320" height="82" viewBox="0 0 1320 82" fill="none" xmlns="http://www.w3.org/2000/svg">
          <defs>
              <clipPath id="cP">
                <path d="M1313.72 10.9572C1313.18 4.75768 1307.98 0.00581315 1301.75 0.0133879L14.166 1.5805C7.69263 1.58838 2.39234 6.72921 2.18678 13.1993L7.92563e-05 82L1320 82L1313.72 10.9572Z" fill="white" />
              </clipPath>   
          </defs>
        </svg> -->

        <div class="footer__links">
          <a href="#" class="footer__link">Terms and Conditions</a>
          <a href="#" class="footer__link">Privacy</a>
        </div>

        <p class="footer__copyright">© 2022-2023, ZenDiver. All Rights Reserved.</p>

        <div class="footer__bottom-logo">
          <svg width='125' height='27'>
              <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </div>
     </div> 
    </div>
  </div>
</footer>