<!-- <footer>
  <div class="container">
    <div class="footer">

      <div class="footer__bottom">
        <div class="footer__links">
          <a href="#" class="footer__link">Terms and Conditions</a>
          <a href="#" class="footer__link">Privacy</a>
        </div>

        <p class="footer__copyright">© 2022-2023, ZenDiver. All Rights Reserved.</p>

        <div class="footer__bottom-logo">
          <svg width='125' height='27'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</footer> -->