<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__top">
        <div class="footer__box">
          <div class="footer__info">
            <a class="footer__logo" href="/">
              <svg width='188' height='38'>
                <use href='img/sprite/sprite.svg#logo'></use>
              </svg>
            </a>

            <p class="footer__text">Create a strong foundation for efficiency, achievements, and harmony.</p>

            <div class="explore">
              <span class="explore__heading">ExploRe ZenDiver:</span>

              <a class="explore__link personal" href="#">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#avatar'></use>
                </svg>

                ZenDiver for personal use

                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#proceed-arrow'></use>
                </svg>
              </a>

              <a class="explore__link corporate" href="#">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#corporate'></use>
                </svg>

                Corporate solution

                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#proceed-arrow'></use>
                </svg>
              </a>
            </div>

            <div class="apps">
              <a class="apps__link" href="#">
                <svg width='135' height='60'>
                  <use href='img/sprite/sprite.svg#google-app'></use>
                </svg>
              </a>
              <a class="apps__link" href="#">
                <svg width='120' height='60'>
                  <use href='img/sprite/sprite.svg#ios-app'></use>
                </svg>
              </a>
            </div>
          </div>

          <ul class="footer__navs">
            <li class="footer__nav">
              <span>Fields</span>

              <ul class="main-nav">
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">For CEO of a company</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">For self-employed</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">For office workers</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">For biohackers</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">For spiritual seeker</a>
                </li>
              </ul>
            </li>

            <li class="footer__nav">
              <span>Topics</span>

              <ul class="main-nav">
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Stress and Burnout</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Anxiety</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Guilt</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Overweight</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Sleep Quality</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Motivation</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Goal Setting and Achievement</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Integrity</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Awareness</a>
                </li>
                <li class="main-nav__item">
                  <a href="#" class="main-nav__link">Emotional Intelligence</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="footer__lang language">
          <span class="language__heading">Language:</span>

          <div class="select" data-select>
            <div class="select__header">
              <input type="hidden" class="select__input input-select" name="categories" value="1">

              <span class="select__current" data-id="en">
                EN
              </span>

              <svg class="select__current-icon" width='20' height='20'>
                <use href='img/sprite/sprite.svg#chevron-down'></use>
              </svg>
            </div>
            <div class="select__body">
              <ul class="select__list">
                <li class="select__option" data-id="en" data-type="option">
                  EN
                </li>
                <li class="select__option" data-id="es" data-type="option">
                  ES
                </li>
                <li class="select__option" data-id="3" data-type="option">
                  FR
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <div class="footer__bottom-box">
          <div class="footer__bottom-links">
            <a href="#" class="footer__bottom-link">Terms and Conditions</a>
            <a href="#" class="footer__bottom-link">Privacy</a>
          </div>

          <p class="footer__bottom-copyright">© 2022-2023, ZenDiver. All Rights Reserved.</p>

          <div class="footer__bottom-logo">
            <svg width='125' height='27'>
              <use href='img/sprite/sprite.svg#logo'></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>