<header>
    <div class="container">
        <div class="header" data-aos="zoom-in" data-aos-duration="1000">
            <button class="burger">
                <span class="burger__bg"></span>
                <span class="burger__line"></span>
            </button>

            <ul class="main-nav">
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link" >Blog homepage</a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link" >ZenDiver.co</a>
                </li>
            </ul>

            <a href="/" class="header__logo">
                <svg width='196' height='40'>
                    <use href='img/sprite/sprite.svg#logo'></use>
                </svg>
            </a>

            <div class="header__btns">
                <a href="#" class="" data-aos="zoom-in" data-aos-duration="1000"
                    data-aos-delay="50">
                    Take the quiz

                    <svg width='20' height='20'>
                        <use href='img/sprite/sprite.svg#gift'></use>
                    </svg>
                </a>
                <a href="#" class="" data-btn-modal="order" data-aos="zoom-in"
                    data-aos-duration="1000" data-aos-delay="50">Try ZenDiver for free</a>
            </div>
        </div>

        <div class="header-menu">
            <div class="header-menu__box">
                <div class="header-menu__inner">
                    <ul class="main-nav">
                        <li class="main-nav__item">
                            <a href="#" class="main-nav__link">Services</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="#" class="main-nav__link">Commercial appliance</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="#" class="main-nav__link">Appliance</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="#" class="main-nav__link">Blog</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="#" class="main-nav__link">Contacts</a>
                        </li>
                    </ul>
                    <ul class="social-list">
                        <li class="social-list__item">
                            <a href="#" class="social-list__link">
                                <svg width='18' height='18'>
                                    <use href='img/sprite/sprite.svg#inst'></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-list__link">
                                <svg width='18' height='18'>
                                    <use href='img/sprite/sprite.svg#fb'></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-list__link">
                                <svg width='18' height='18'>
                                    <use href='img/sprite/sprite.svg#youtube'></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="header-menu__wrapp">
                        <a href="tel:(980)-987–70-83" class="tel-link">(980) 987 – 7083</a>
                        <button class="main-button">Book a Call</button>
                    </div>
                </div>

                <form id="menuForm" class="main-form main-form--mode">
                    <div class="main-form__box">
                        <span class="title">заказать услугу</span>

                        <ul class="main-form__list">
                            <li class="main-form__row">
                                <label for="name_1" class="main-form__label">
                                    <input type="text" id="name_1" class="main-form__input" placeholder="First Name">
                                </label>
                                <label for="last_2" class="main-form__label">
                                    <input type="text" id="last_2" class="main-form__input" placeholder="Last Name">
                                </label>
                            </li>
                            <li class="main-form__row">
                                <label for="phone_3" class="main-form__label">
                                    <input type="tel" id="phone_3" class="main-form__input" placeholder="Your phone">
                                </label>
                                <label for="device_3" class="main-form__label">
                                    <input type="text" id="device_3" class="main-form__input" placeholder="Device type">
                                </label>
                            </li>
                            <li class="main-form__row main-form__row--mode">
                                <textarea class="main-form__area" id="message_2" placeholder="Message"></textarea>
                            </li>
                        </ul>
                        <button type="submit" class="main-button">Book a Call</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>