/* stylelint-disable */

@mixin burger {
  --burger-width: 48px;
  --burger-height: 48px;
  --burger-line-height: 1.5px;
  --border-radius: 100px;

    position: relative;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    background: linear-gradient(180deg, #eaeaea 0%, #cbcbcb 100%);
    border-radius: var(--border-radius);
    color: rgba(var(--cl-c),1.0);
    flex-shrink: 0;
    transition: all .3s;
    cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--burger-width) - 31px);
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    border-radius: var(--border-radius);
  }

  &::before {
    top: calc(var(--burger-height) - 31px);
  }

  &::after {
    bottom: calc(var(--burger-height) - 31px);
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--burger-width) - 31px);
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
    border-radius: var(--border-radius);
  }

  &.active {
    &::before {
      top: 60%;
      left: 45%;
      transform: rotate(45deg) translateX(-45%) translateY(-60%);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      bottom: 60%;
      left: 45%;
      transform: rotate(-45deg) translateX(-45%);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  @include tablet {
    background: transparent;
    width: 62px;
  }

}

.burger {
    @include burger;

    display: flex;
    position: relative;
    z-index: 91;
}

