.brand-card{
    border: 1px solid var(--br-a);
    border-radius: 19px;
    padding: clamp(20px, 2.2308vw, 20px) clamp(15px, 2.0769vw, 27px) ;
    margin: 1px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    height: 100%;
    background: rgba(var(--bg-g),1.0);

    .subtitle{
        color: rgba(var(--cl-b),1.0);
    }

  
    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
    }

    &__image{
        flex-grow: 1;
        display: flex;
        align-items: center;
        mix-blend-mode: darken;
        img,picture{
            mix-blend-mode: darken;
        }
    }
}