.brands-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: clamp(7px, 1.4615vw, 19px);
    width: 100%;


    &__item{
        border: clamp(0.38px, .0769vw, 1px) solid var(--br-a);
        border-radius: clamp(8px, 1.5385vw, 20px);
        padding: clamp(7px, 1.5385vw, 20px) clamp(9px, 1.9231vw, 25px);
        width: clamp(94px, 18.8462vw, 245px);
        height: clamp(45px, 9.2308vw, 120px);
        background: rgba(var(--bg-g),1.0);
        display: flex;
        align-items: center;
        justify-content: center;

        img,picture{
            mix-blend-mode: darken;
        }

        @include small-tablet{
            min-width: 94px;
            margin-bottom: 2px;
        }
    }

    @include small-tablet{
        overflow-x: auto;
        align-self: flex-start;
        margin-left: calc(var(--container-offset) * -1);
        width: calc(100% + (var(--container-offset) * 2));
        padding: 0 var(--container-offset);
    }
}