.categories {
    position: relative;
    width: 100%;
  
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      width: 100%;
      color: rgba(var(--cl-c),1.0);
      transition: all .1s;
      height: 52px;
      border: 1px solid rgba(47, 47, 47, 0.24);
      border-radius: 8px;
      background: rgba(var(--bg-c),.04);
      cursor: pointer;
  
      span {
        pointer-events: none;
        font-family: var(--font-second);
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.02em;
        color: rgba(var(--cl-c),1.0);
      }
  
      svg {
        display: flex;
        pointer-events: none;
        transition: transform .4s linear;
        flex-shrink: 0;
        width: 20px;
        transform: scaleY(-1);
        aspect-ratio: 1;
      }

      &:hover {
        background: rgba(var(--bg-c),.08);
      }
  
      &.active {
        background: rgba(47, 47, 47, 0.12);
        border: 1px solid rgba(47, 47, 47, 0.8);
        
        svg {
          transform: scale(1);
        }
      }
    }
  
    &__body {
      position: absolute;
      margin-top: 5px;
      top: 100%;
      width: 100%;
      left: 0;
      background-color: rgba(var(--cl-a),1.0);
      border: 1px solid rgba(var(--br-a),1.0);
      border-radius: 4px;
      box-shadow: 0 24px 48px 0 rgba(50, 50, 71, 0.06), 0 12px 24px 0 rgba(50, 50, 71, 0.04);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
  
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 5;
      }
  
      @media screen and (max-width: 576px) {
        margin-top: 0;
      }
    }
  

  
    &__options {
    //   max-height: 376px;
      display: flex;
      flex-direction: column;
    //   overflow-y: auto;
  
      &::-webkit-scrollbar {
        width: 8px;               /* ширина всей полосы прокрутки */
      }
  
      &::-webkit-scrollbar-track {
        background-color: rgba(var(--bg-a),1.0);        /* цвет зоны отслеживания */
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--bg-d),1.0);    /* цвет бегунка */
        border-radius: 20px;       /* округлось бегунка */
        border: 3px solid transparent;  /* отступ вокруг бегунка */
      }
    }
  
    &__option {
      position: relative;
      display: flex;
      align-items: center;
      transition: all .1s;

      &:first-child {
        .categories__checkbox-inner::after {
          background-image: var(--first-filter-checkbox);
        }
      }

      &:hover {
        background-color: rgba(var(--bg-c), 0.04);

        .categories__checkbox-inner::before {
          border: 1px solid rgba(var(--cl-c),1.0);
        }

        .categories__checkbox-inner::after {
          background-image: var(--filters-checkbox-hover);
          background-color: transparent;
          opacity: 1;
          visibility: visible;
        }
      }

      &:active {
        background-color: rgba(var(--bg-c), 0.08);
      }
    }
  
    &__checkbox {
      position: absolute;
      inset: 0;
      opacity: 0;
      margin: 0;
      visibility: hidden;
  
      &:checked ~ .categories__checkbox-inner::after {
        opacity: 1;
        visibility: visible;
      }
    }
  
    &__checkbox-inner {
      position: relative;
      width: 100%;
      display: flex;
      padding: 10px 12px;
      cursor: pointer;
  
      &::before {
        content: '';
        position: absolute;
        right: 12px;
        width: 20px;
        height: 20px;
        background-color: gba(var(--bg-a),1.0);
        border: 1px solid rgba(var(--br-a),1.0);
        border-radius: 4px;
        transition: all 0.3s ease;
      }
  
      &::after {
        content: '';
        position: absolute;
        background-image: var(--filters-checkbox-active);
        background-position: center;
        background-repeat: no-repeat;
        right: 12px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(var(--bg-d),1.0);
        border: 1px solid rgba(var(--bg-d),1.0);
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
    }
  
    &__checkbox-name {
      padding-right: 30px;
      font-family: var(--font-second);
      font-size: 16px;
      line-height: 125%;
      font-weight: 400;
      letter-spacing: -0.02em;
      color: rgba(var(--cl-c),1.0);
    }
  
    &__result {
      display: none;
      align-items: center;
      justify-content: space-between;
      grid-gap: 20px;
    }
  
    &__choosed {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      grid-gap: 12px;
  
      &:empty {
        display: none;
      }
    }
  
    &__choose {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      padding: 8px 16px;
      background-color: var(--color-white);
      border: 1px solid var(--color-grey-stroke);
      border-radius: 32px;
    }
  
    &__choose-name {
      font-size: 16px;
      line-height: 100%;
      color: var(--color-black);
    }
  
    &__choose-delete {
      display: flex;
      cursor: pointer;
      transition: all 0.3s ease;
  
      &:hover {
        color: var(--color-black);
      }
    }
  
  
  }