.choose-info{
    padding: 20px clamp(24px, 6.1538vw, 80px);
    backdrop-filter: blur(20px);
    border: 1px solid var(--br-b);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    grid-gap: 10px 28px;

    @media (min-width: (567px)) and (max-width: (768px)){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile{
        flex-direction: column;
        border: none;
        align-items: flex-start;
        padding: 0;
        backdrop-filter: none;
        z-index: 3;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(2){
            p{
                max-width: 266px;
            }
        }

        &:last-child{
            @media (min-width: (567px)) and (max-width: (768px)){
                grid-column: 1/-1;
            }
        }

        @include mobile{
            align-items: flex-start;
        }
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 70px;
        text-align: center;
        color: rgba(var(--cl-c),1.0);
    }

    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: rgba(var(--cl-a),1.0);
        max-width: 190px;

        @include mobile{
            text-align: start;
        }
    }
}