.details {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            font-size: 14px;
            line-height: 129%;
            color: rgba(var(--cl-c), 0.5);;
        }

        svg {
            fill: transparent;
        }
    }
}