.feedback {
    margin-left: -55px;
    position: relative;
    padding: clamp(32px, 2.674vw, 38.5px) clamp(34px, 4.306vw, 62px);
    display: flex;
    flex-direction: column;
    gap: 16px;

    clip-path: polygon( 11.596% 7.149%,11.596% 7.149%,11.629% 6.572%,11.71% 6.026%,11.833% 5.519%,11.995% 5.058%,12.193% 4.649%,12.421% 4.301%,12.677% 4.02%,12.956% 3.812%,13.253% 3.686%,13.566% 3.649%,96.545% 5.966%,96.545% 5.966%,96.85% 6.019%,97.138% 6.154%,97.408% 6.367%,97.655% 6.649%,97.876% 6.995%,98.067% 7.397%,98.224% 7.849%,98.344% 8.345%,98.422% 8.877%,98.457% 9.439%,100% 93.503%,100% 93.503%,99.985% 94.094%,99.92% 94.657%,99.809% 95.184%,99.657% 95.668%,99.467% 96.101%,99.244% 96.474%,98.991% 96.781%,98.712% 97.012%,98.411% 97.161%,98.093% 97.219%,12.302% 100%,12.302% 100%,11.977% 99.961%,11.669% 99.826%,11.382% 99.606%,11.121% 99.306%,10.889% 98.936%,10.691% 98.504%,10.532% 98.017%,10.415% 97.484%,10.345% 96.912%,10.327% 96.31%,11.596% 7.149% );
    background-color: white;

    &__info {
        padding-left: 55px;
        display: flex;
        align-items: center;
        gap: 16px;

        @include small-tablet {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
    }

    &__avatar {
        display: flex;
        clip-path: polygon( 5.956% 15.076%,5.956% 15.076%,6.275% 12.823%,6.889% 10.698%,7.774% 8.726%,8.907% 6.93%,10.262% 5.338%,11.815% 3.972%,13.542% 2.859%,15.418% 2.022%,17.419% 1.488%,19.519% 1.28%,82.125% 0.223%,82.125% 0.223%,84.302% 0.37%,86.379% 0.869%,88.329% 1.692%,90.124% 2.813%,91.738% 4.203%,93.143% 5.837%,94.312% 7.686%,95.218% 9.724%,95.835% 11.923%,96.135% 14.257%,100% 84.185%,100% 84.185%,99.944% 86.712%,99.511% 89.124%,98.733% 91.384%,97.641% 93.457%,96.264% 95.309%,94.635% 96.903%,92.784% 98.205%,90.741% 99.179%,88.538% 99.789%,86.206% 100%,14.905% 100%,14.905% 100%,12.548% 99.784%,10.325% 99.162%,8.267% 98.17%,6.405% 96.844%,4.771% 95.222%,3.397% 93.34%,2.314% 91.235%,1.553% 88.943%,1.147% 86.502%,1.126% 83.947%,5.956% 15.076% );
    }

    &__author {
        display: flex;
        flex-direction: column;
        gap: 4px;

        span {
            font-family: var(--font-primary);
            font-size: clamp(16px, 2.344vw, 18px);
            line-height: 133%;
            font-weight: 700;
            color: rgba(var(--cl-d),1.0);
        }

        p {
            font-family: var(--font-primary);
            font-size: clamp(16px, 2.344vw, 18px);
            line-height: 133%;
            font-weight: 400;
        }
    }

    &__text {
        padding-left: 55px;
        font-size: clamp(16px, 2.344vw, 18px);
        line-height: 167%;
        font-weight: 300;
        font-style: italic;
        letter-spacing: -0.02em;
    }

    &__link {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: clamp(5px, 1.302vw, 10px);
        font-size: 16px;
        font-size: clamp(13px, 2.083vw, 16px);
        line-height: 150%;
        font-weight: 500;
        color: rgba(var(--cl-d),1.0);
        letter-spacing: -0.02em;
        transition: all 0.4s ease;

        svg {
            transition: all 0.4s ease;
            stroke: currentColor;
        }

        &:hover {
            color: rgba(var(--cl-g),1.0);

            svg  {
                transform: translateX(5px);
            }
        }

        &:active {
            color: rgba(var(--cl-d),1.0);

            svg  {
                transform: translateX(5px);
            }
        }
    }

    @include tablet {
        margin-left: -40px;

        &__info,
        &__text {
            padding-left: 40px;
        }
    }

    @include small-tablet {
        margin-left: -30px;

        &__info,
        &__text {
            padding-left: 30px;
        }
    }
}