.info-list{

    &__link{
        font-size: 15px;
        font-family: var(--font-family);
        font-weight: 400;
        color: rgba(var(--cl-b), 1);
        font-style: normal;
        line-height: 130%;
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-underline-offset: 3px;
        transition: all .3s;

        &:hover{
            text-decoration-color: transparent;
        }
    }

    @include for-mobile{
        display: flex;
        flex-direction: column;
        grid-gap: 25px;
    }

    @include mobile{
        @include for-ios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        }
    }

    @include ios{
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
    }
}