.language {
    &__heading {
        display: none;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.02em;

        @include tablet {
            display: flex;
        }
    }

    .select {
        width: fit-content;
        height: 40px;
        border: none;
        background: transparent;
    }
    .select__header {
        padding: 10px 12px;
        gap: 0;
    }

    .select__header > svg {
        width: 20px;
    }
}