.main-nav{
    display: flex;
    align-items: center;

    &__link{
        padding: clamp(5px, 0.806vw, 10px) clamp(5px, 0.968vw, 12px);
        line-height: 125%;
        border-radius: 40px;
        background: transparent;
        transition: all .4s ease;

        &:hover{
            background: rgba(var(--bg-c), 0.04);
        }

        &:active {
            background: rgba(var(--bg-c), 0.08);
        }
    }

    @include tablet {
        display: none;
    }
}