.main-form{
    border: 1px solid var(--br-a);
    border-radius: 10px;
    background: rgba(var(--bg-g),1.0);
    display: flex;
    align-items: center;
    grid-gap: clamp(9px, 5.7692vw, 75px);
    padding: clamp(32px, 2.6154vw, 34px) clamp(24px, 5vw, 65px) clamp(32px, 4.6154vw, 60px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(20px, 4.6154vw, 60px);
    }

    @include mobile{
        flex-direction: column;
        padding-bottom: 0;
        grid-gap: 9px;
    }

    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: clamp(14px, 1.5385vw, 20px);

        @include tablet{
            grid-template-columns: 1fr;
        }
    }

    &__label{
        width: 100%;
        position: relative;
    }

    &__input{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 24px clamp(20px, 1.9231vw, 25px);
        border: 1px solid var(--br-a);
        border-radius: 10px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        color: rgba(var(--cl-b),1.0);

        &::placeholder{
            color: rgba(var(--cl-e),1.0);
        }
    }

    .title{
        font-weight: 600;
        text-transform: uppercase;
        max-width: 90%;

        @include laptop{
            max-width: 100%;
        }
    }

    .main-button{
        grid-column: 1/-1;
        justify-content: center;
    }

    &__image{
        width: clamp(200px, 35.3846vw, 460px);
        height: clamp(160px, 28.5385vw, 371px);
        flex-shrink: 0;
        svg{
            width: 100%;
            height: auto;
            fill: none;
        }

        @include tablet{
            display: flex;
            align-self: flex-end;
        }

        @include mobile{
            align-self: center;
            margin-bottom: -1px;
            width: calc(100% - (clamp(24px, 5vw, 65px) * 2));
            height: auto;
            order: 2;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        grid-gap: 16px;
    }

    &__row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: clamp(16px, 1.5385vw, 20px);

        &--mode{
            grid-template-columns: 1fr;
        }

        @include mobile{
            grid-template-columns: 1fr;
        }
    }

    &__area{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 24px clamp(20px, 1.9231vw, 25px);
        border: 1px solid var(--br-a);
        border-radius: 10px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        color: rgba(var(--cl-b),1.0);
        background-color: transparent;
        min-height: clamp(120px, 11.0769vw, 144px);

        &::placeholder{
            color: rgba(var(--cl-e),1.0);
        }
    }

    &--mode{
        
        .title{
            max-width: 100%;
            margin-bottom: 2px;
        }

        .main-form{
            &__box{
                grid-gap: 15px;
                width: 100%;
            }
        }
    }
}

