.main-form{
    border: 1px solid rgba(var(--bg-b), 0.1);
    border-radius: 10px;
    background: rgba(var(--bg-g),1.0);
    display: flex;
    align-items: center;
    grid-gap: clamp(9px, 5.7692vw, 75px);
    padding: clamp(32px, 2.6154vw, 34px);

    @include mobile{
        flex-direction: column;
        padding-bottom: 0;
        grid-gap: 9px;
    }

    &__box { 
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        text-align: center;
    }

    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: clamp(14px, 1.5385vw, 20px);

        @include tablet{
            grid-template-columns: 1fr;
        }
    }

    &__label{
        width: 100%;
        position: relative;
    }

    &__input{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
        border: 1px solid rgba(var(--cl-f), 0.4);
        background: rgba(var(--bg-a),1.0);
        border-radius: 10px;
        font-family: var(--font-second);
        font-size: 15px;
        line-height: 130%;
        color: rgba(var(--cl-c),1.0);

        &::placeholder{
            color: rgba(var(--cl-c), 0.5);
        }
    }

    .subtitle{
        text-transform: uppercase;
    }

    &__list{
        display: flex;
        flex-direction: column;
        grid-gap: 16px;
    }

    &__row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: clamp(10px, 1.5385vw, 20px);

        &--mode{
            grid-template-columns: 1fr;
        }

        @include tablet{
            grid-template-columns: 1fr;
        }
    }

    &__area{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
        border: 1px solid rgba(var(--cl-f), 0.4);
        background: rgba(var(--bg-a),1.0);
        border-radius: 10px;
        font-family: var(--font-second);
        font-size: 15px;
        line-height: 130%;
        color: rgba(var(--cl-c),1.0);
        min-height: clamp(120px, 11.0769vw, 144px);

        &::placeholder{
            color: rgba(var(--cl-c), 0.5);
        }
    }
}

