.offers-list{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    @include small-tablet{
        grid-gap: 23px;
        width: 100%;
    }

    &__row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;


        &--mode{
            .offer-card--double{
                grid-column: 2/4;

                @include small-tablet{
                    grid-column: initial;
                }
            }
        }

        @include small-tablet{
            grid-template-columns: 1fr;
            grid-gap: 23px;
        }
    }
}