.request{
    display: flex;
    align-items: center;
    grid-gap: 20px;
    justify-content: space-between;
    border: 1px solid var(--br-a);
    border-radius: 10px;
    background: rgba(var(--bg-c),1.0);

    @include for-laptop{
        padding: clamp(20px, 4.1538vw, 54px) clamp(20px, 5.7692vw, 75px);
    }
    
    @include laptop{
        padding: clamp(20px, 4.1538vw, 54px) clamp(20px, 3.8462vw, 50px);
    }

    @include small-tablet{
        flex-direction: column;
    }

    .subtitle{
        @include for-tablet{
            margin-right: clamp(5px, 1.0769vw, 14px);
        }

        @include for-small-tablet{
            max-width: Min(29.6923vw, 386px);
        }

        @include small-tablet{
            text-align: center;
            order: -2;
        }
    }

    &__btn{
        @include for-tablet{
            padding: clamp(21px, 1.9231vw, 25px) clamp(42px, 8.5385vw, 111px);
        }
        @include tablet{
            padding: 21px 21px;
            @include for-small-tablet{
                min-width: clamp(185px, 23.438vw, 240px);
            }
        }
        @include small-tablet{
           min-width: 316px;
        }
        
        @include mobile{
            width: 100%;
        }
    }

    &__number{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: clamp(24px, 2.7692vw, 36px);
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(var(--cl-b),1.0);

        @include small-tablet{
            order: -1;
        }
    }
}