.subscribe-form{
    background: rgba(var(--bg-c),1.0);
    border: 1px solid var(--br-a);
    border-radius: 10px;
    padding: clamp(32px, 4.6154vw, 60px) clamp(24px, 6.1538vw, 80px);
    display: flex;
    flex-direction: column;
    grid-gap: clamp(24px, 3.0769vw, 40px);
    width: 100%;
    position: relative;
    overflow: hidden;

    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(16px, 1.3846vw, 18px);
        line-height: 130%;
        color: rgba(var(--cl-b),1.0);
    }

    &__text{
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        max-width: clamp(262px, 51.4615vw, 669px);
        @include small-tablet{
            max-width: 100%;
            grid-gap: 12px;
        }
    }

    &__label{
        width: 100%;
    }

    &__input{
        padding: clamp(20px, 1.9231vw, 25px) 25px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        color: rgba(var(--cl-b),1.0);
        border: 1px solid var(--br-a);
        border-radius: 10px;

        &::placeholder{
            color: inherit;
        }
    }

    &__inner{
        max-width: clamp(262px, 43.0769vw, 560px);
        display: flex;
        flex-direction: column;
        grid-gap: clamp(13px, 1.5385vw, 20px);

        @include small-tablet{
            max-width: 100%;
        }
    }

    &__image{
        position: absolute;
        bottom: -12px;
        right: clamp(24px, 6.1538vw, 80px);
        display: flex;
        width: Min(32vw, 416px);
        height: Min(34.6923vw, 451px);

        svg{
            width: 100%;
            height: 100%;
            fill: none;
        }

        @include tablet{
            right: clamp(12px, 2.344vw, 24px);
        }

        @include small-tablet{
            display: none;
        }
    }
}