<button data-tab="1" class='mobile-acc'>
  Description
</button>

<div class="tabs-content__item active" data-tab-content="1">

  <div class="products-block">
    <div class="products-description">

      <div class="products-description__inner">
        <h2 class="products-description__title default-pretitle">
          We made it easy to order glass cut-to-size without leaving your home
        </h2>

        <p>
          Our products are built with the best quality materials and the latest technologies to meet the highest industry standards. Need help on your project? Our team have the answers!
        </p>
      </div>

      <div class="products-description__image">
        <picture>
          <source type='image/webp' srcset='img/product_page/img.webp'>
          <img loading='lazy' width='720' height='336' src='img/product_page/img.jpg' alt='image'>
        </picture>
      </div>

      <span class="products-description__reply">
        “Beautiful job! Incredibly happy with your prompt delivery and beautifully finished glass, will definitely be using your services again. 5-Stars!”
      </span>

    </div>

    <ul class="products-collection">
      <li class="products-collection__item">
        <div class="products-collection__img">
          <picture>
            <source type='image/webp' srcset='img/collection/img.webp'>
            <img loading='lazy' width='494' height='320' src='img/collection/img.jpg' alt='image'>
          </picture>
        </div>
        <div class="products-collection__inner">
          <span class="products-collection__title">
            Textured glass
          </span>
          <a href="#" class="arrow-button arrow-button--transparent">
            View collection
          </a>
        </div>
      </li>
      <li class="products-collection__item">
        <div class="products-collection__img">
          <picture>
            <source type='image/webp' srcset='img/collection/img2.webp'>
            <img loading='lazy' width='494' height='320' src='img/collection/img2.jpg' alt='image'>
          </picture>
        </div>
        <div class="products-collection__inner">
          <span class="products-collection__title">
            Glass shelves
          </span>
          <a href="#" class="arrow-button arrow-button--transparent">
            View collection
          </a>
        </div>
      </li>
      <li class="products-collection__item">
        <div class="products-collection__img">
          <picture>
            <source type='image/webp' srcset='img/collection/img3.webp'>
            <img loading='lazy' width='494' height='320' src='img/collection/img3.jpg' alt='image'>
          </picture>
        </div>
        <div class="products-collection__inner">
          <span class="products-collection__title">
            Glass shelves
          </span>
          <a href="#" class="arrow-button arrow-button--transparent">
            View collection
          </a>
        </div>
      </li>
    </ul>

    <article class='products-article'>
      <div class="products-article__image">
        <picture>
          <source type='image/webp' srcset='img/product_page/img2.webp'>
          <img loading='lazy' width='720' height='304' src='img/product_page/img2.jpg' alt='image'>
        </picture>
      </div>

      <h2 class='products-article__title default-pretitle '>
        What is tempered glass?
      </h2>

      <p>
        Tempered glass is much harder than standard glass manufactured through a process of extreme heating and rapid cooling. Regular, annealed glass undergoes a thermal tempering process that increases its strength and changes its composition to shatters differently. Due to the tempering process, when this type of glass is broken, it breaks into small, rounded chunks instead of sharp, jagged shards. Regular, untreated glass is known to shatter into sharp pieces called spall, which are a significant cause of injury in the cases of extreme weather or attacks like bomb blasts. Tempered glass is often referred to as “safety glass” for its ability to prevent spall and keep building occupants safe. Tempered glass is often used in car windows, shower doors, glass tables, and other installations where increased safety standards are necessary.
      </p>

    </article>


    <article class='products-article reverse has-list'>
      <div class="products-article__image">
        <picture>
          <source type='image/webp' srcset='img/product_page/img4.webp'>
          <img loading='lazy' width='720' height='704' src='img/product_page/img4.jpg' alt='image'>
        </picture>
      </div>

      <h2 class='products-article__title default-pretitle '>
        Glass thickness
      </h2>

      <p>
        Glass thickness can define the way your glass looks and feels, and it generally define the application that it will be used for. When handling orders, we recommend the ideal thickness and size for the glass that you need, ensuring that your glass matches its exact purpose.
      </p>

      <ul class='products-article__list'>
        <li class="products-article__item">
          <span class='products-article__label'>
            3mm (1/8″)
          </span>
          <p>
            Used in picture frames, small insulated glass units, not temperable.
          </p>
        </li>
        <li class="products-article__item">
          <span class='products-article__label'>
            4mm (5/32″)
          </span>
          <p>
            Larger cabinet door panels, single pane window, small mirrors.
          </p>
        </li>
        <li class="products-article__item">
          <span class='products-article__label'>
            5mm (3/16″)
          </span>
          <p>
            All general glass applications, such as table tops, insulated units, interior & exterior door lites, shelves, framed shower doors.
          </p>
        </li>
        <li class="products-article__item">
          <span class='products-article__label'>
            6mm (1/4″)
          </span>
          <p>
            Framed & frameless shower doors and enclosures, shelves, table tops, glass walls and partitions.
          </p>
        </li>
        <li class="products-article__item">
          <span class='products-article__label'>
            8mm (5/16″)
          </span>
          <p>
            Larger shower doors and enclosures, larger shelves, larger table tops, countertops, glass walls and partitions, hand railings.
          </p>
        </li>
        <li class="products-article__item">
          <span class='products-article__label'>
            10mm (3/8″)
          </span>
          <p>
            very large table tops, very large shelves, larger countertops, mall fronts, glass floors.
          </p>
        </li>
        <li class="products-article__item">
          <span class='products-article__label'>
            12mm (1/2″)
          </span>
          <p>
            Glass flooring, stair treads, tables, glass furniture.
          </p>
        </li>
      </ul>

    </article>

    <div class="more-articles">
      <div class="main-top">
        <h2 class="main-top__title more-articles__title">
          Uses of custom cut glass
        </h2>

        <p>
          Our customers use their custom cut glass for a multitude of projects, such as interior design, for DIY projects, and for construction.
        </p>
      </div>

      <ul class="more-articles__list">
        <li class="more-articles__item">
          <div class="articles-card">
            <div class="articles-card__image">
              <picture>
                <source type='image/webp' srcset='img/product_page/img5.webp'>
                <img loading='lazy' width='280' height='336' src='img/product_page/img5.jpg' alt='image'>
              </picture>
            </div>

            <div class="articles-card__content">
              <h3 class="articles-card__title default-posttitle">
                The Difference Between Clear Glass and Ultra-Clear Glass
              </h3>

              <p>
                This decision is very easy to make when you know the actual difference between clear glass and ultra-clear glass. Once you do see...
              </p>

              <a href="#" class=" arrow-button arrow-button--transparent">
                Continue reading
                <svg width="16" height="16">
                  <use href="img/sprite/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>

          </div>
        </li>
        <li class="more-articles__item">
          <div class="articles-card">
            <div class="articles-card__image">
              <picture>
                <source type='image/webp' srcset='img/product_page/img6.webp'>
                <img loading='lazy' width='280' height='336' src='img/product_page/img6.jpg' alt='image'>
              </picture>
            </div>

            <div class="articles-card__content">
              <h3 class="articles-card__title default-posttitle">
                The Difference Between Clear Glass and Ultra-Clear Glass
              </h3>

              <p>
                This decision is very easy to make when you know the actual difference between clear glass and ultra-clear glass. Once you do see...
              </p>

              <a href="#" class=" arrow-button arrow-button--transparent">
                Continue reading
                <svg width="16" height="16">
                  <use href="img/sprite/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>

          </div>
        </li>
      </ul>
    </div>


    <!-- data-default='1' - первый открыт по умолчанию
        data-single='true' - включает режим в котором одновременно может быть развернут только один пункт аккордиона;
        data-breakpoint='1440' - брейкпоинт, меньше которого будет работать single режим. -->
    <ul class='accordion faq-accordion' data-default='1' data-single='true' data-breakpoint='1440' data-accordion
      data-title="FAQs about our custom cut glass products">
      <li class='accordion__item faq-accordion__item'>
        <button class='accordion__btn faq-accordion__btn' data-id='1'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#arrow-bottom'></use>
          </svg>
          What is tempered glass?
        </button>
        <div class='accordion__content faq-accordion__content' data-content='1'>
          <p>
            Tempered or toughened glass is a type of safety glass processed by controlled thermal treatments to increase
            its strength as opposed to normal glass, which does not require this additional treatment. The manufacturing
            process places the outer surfaces under compression and the interior in a state of tension. Tempered glass
            is approximately four times stronger than “regular” or annealed glass. Also known as safety glass, tempered
            glass fractures into small, relatively harmless pieces. As a result, tempered glass is used in those
            environments where human safety is an issue. Tempered glass is commonly used for specific applications such
            as shower enclosures, glass tops, glass railings and so on. Our heat-treated tempered glass meets the
            current North American standards of ANSI Z97.1-04, ASTM C1048 and CAN/CGSB-12.1-M90, which are currently in
            place for safety glass. Tempered glass cannot be cut, polished or drilled. All of the glass work must be
            performed prior to the tempering process.
          </p>
        </div>
      </li>
      <li class='accordion__item faq-accordion__item'>
        <button class='accordion__btn faq-accordion__btn' data-id='2'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#arrow-bottom'></use>
          </svg>
          Can you explain the "radius" option?
        </button>
        <div class='accordion__content faq-accordion__content' data-content='2'>
          <p>
            Tempered or toughened glass is a type of safety glass processed by controlled thermal treatments to increase
            its strength as opposed to normal glass, which does not require this additional treatment. The manufacturing
            process places the outer surfaces under compression and the interior in a state of tension. Tempered glass
            is approximately four times stronger than “regular” or annealed glass. Also known as safety glass, tempered
            glass fractures into small, relatively harmless pieces. As a result, tempered glass is used in those
            environments where human safety is an issue. Tempered glass is commonly used for specific applications such
            as shower enclosures, glass tops, glass railings and so on. Our heat-treated tempered glass meets the
            current North American standards of ANSI Z97.1-04, ASTM C1048 and CAN/CGSB-12.1-M90, which are currently in
            place for safety glass. Tempered glass cannot be cut, polished or drilled. All of the glass work must be
            performed prior to the tempering process.
          </p>
        </div>
      </li>
      <li class='accordion__item faq-accordion__item'>
        <button class='accordion__btn faq-accordion__btn' data-id='3'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#arrow-bottom'></use>
          </svg>
          What is the industry-standard cutting tolerance?
        </button>
        <div class='accordion__content faq-accordion__content' data-content='3'>
          <p>
            Tempered or toughened glass is a type of safety glass processed by controlled thermal treatments to increase
            its strength as opposed to normal glass, which does not require this additional treatment. The manufacturing
            process places the outer surfaces under compression and the interior in a state of tension. Tempered glass
            is approximately four times stronger than “regular” or annealed glass. Also known as safety glass, tempered
            glass fractures into small, relatively harmless pieces. As a result, tempered glass is used in those
            environments where human safety is an issue. Tempered glass is commonly used for specific applications such
            as shower enclosures, glass tops, glass railings and so on. Our heat-treated tempered glass meets the
            current North American standards of ANSI Z97.1-04, ASTM C1048 and CAN/CGSB-12.1-M90, which are currently in
            place for safety glass. Tempered glass cannot be cut, polished or drilled. All of the glass work must be
            performed prior to the tempering process.
          </p>
        </div>
      </li>
      <li class='accordion__item faq-accordion__item'>
        <button class='accordion__btn faq-accordion__btn' data-id='4'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#arrow-bottom'></use>
          </svg>
          How do I place my custom cut glass order?
        </button>
        <div class='accordion__content faq-accordion__content' data-content='4'>
          <p>
            Tempered or toughened glass is a type of safety glass processed by controlled thermal treatments to increase
            its strength as opposed to normal glass, which does not require this additional treatment. The manufacturing
            process places the outer surfaces under compression and the interior in a state of tension. Tempered glass
            is approximately four times stronger than “regular” or annealed glass. Also known as safety glass, tempered
            glass fractures into small, relatively harmless pieces. As a result, tempered glass is used in those
            environments where human safety is an issue. Tempered glass is commonly used for specific applications such
            as shower enclosures, glass tops, glass railings and so on. Our heat-treated tempered glass meets the
            current North American standards of ANSI Z97.1-04, ASTM C1048 and CAN/CGSB-12.1-M90, which are currently in
            place for safety glass. Tempered glass cannot be cut, polished or drilled. All of the glass work must be
            performed prior to the tempering process.
          </p>
        </div>
      </li>
      <li class='accordion__item faq-accordion__item'>
        <button class='accordion__btn faq-accordion__btn' data-id='5'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#arrow-bottom'></use>
          </svg>
          What is the biggest glass available for online orders?
        </button>
        <div class='accordion__content faq-accordion__content' data-content='5'>
          <p>
            Tempered or toughened glass is a type of safety glass processed by controlled thermal treatments to increase
            its strength as opposed to normal glass, which does not require this additional treatment. The manufacturing
            process places the outer surfaces under compression and the interior in a state of tension. Tempered glass
            is approximately four times stronger than “regular” or annealed glass. Also known as safety glass, tempered
            glass fractures into small, relatively harmless pieces. As a result, tempered glass is used in those
            environments where human safety is an issue. Tempered glass is commonly used for specific applications such
            as shower enclosures, glass tops, glass railings and so on. Our heat-treated tempered glass meets the
            current North American standards of ANSI Z97.1-04, ASTM C1048 and CAN/CGSB-12.1-M90, which are currently in
            place for safety glass. Tempered glass cannot be cut, polished or drilled. All of the glass work must be
            performed prior to the tempering process.
          </p>
        </div>
      </li>
    </ul>
  </div>

</div>
