<button data-tab="2" class='mobile-acc'>
  Glass specifications
</button>
<div class="tabs-content__item" data-tab-content="2">

  <div class="products-block">
    <div class="more-articles">
      <div class="main-top">
        <h2 class="main-top__title more-articles__title">
          Shaping and Edgework
        </h2>
      </div>

      <ul class="more-articles__list">
        <li class="more-articles__item">
          <a href='#' class="articles-finishing">
            <div class="articles-finishing__image">
              <picture>
                <source type='image/webp' srcset='img/product_page/img7.webp'>
                <img loading='lazy' width='672' height='360' src='img/product_page/img7.jpg' alt='image'>
              </picture>
            </div>

            <div class="articles-finishing__content">
              <h3 class="articles-finishing__title default-posttitle">
                Flat Polished
              </h3>

              <p>
                Our most popular type of edgework is the flat polished edge. A flat-polished edge offers a sleek, modern finished appearance. Flat polish is mostly used where the glass edges are exposed, such as in shower enclosures, mirrors, railings, shelves, tabletops, or in any other type of frameless application.
              </p>
            </div>

          </a>
        </li>
        <li class="more-articles__item">
          <a href='#' class="articles-finishing">
            <div class="articles-finishing__image">
              <picture>
                <source type='image/webp' srcset='img/product_page/img7.webp'>
                <img loading='lazy' width='672' height='360' src='img/product_page/img7.jpg' alt='image'>
              </picture>
            </div>

            <div class="articles-finishing__content">
              <h3 class="articles-finishing__title default-posttitle">
                Flat Polished
              </h3>

              <p>
                Our most popular type of edgework is the flat polished edge. A flat-polished edge offers a sleek, modern finished appearance. Flat polish is mostly used where the glass edges are exposed, such as in shower enclosures, mirrors, railings, shelves, tabletops, or in any other type of frameless application.
              </p>
            </div>

          </a>
        </li>
      </ul>
    </div>

    <div class="more-articles">
      <div class="main-top">
        <h2 class="main-top__title more-articles__title">
          Glass types
        </h2>
      </div>

      <ul class="more-articles__list mode">
        <li class="more-articles__item">
          <div class="articles-finishing">
            <div class="articles-finishing__image">
              <picture>
                <source type='image/webp' srcset='img/product_page/img8.webp'>
                <img loading='lazy' width='395' height='360' src='img/product_page/img8.jpg' alt='image'>
              </picture>
            </div>

            <div class="articles-finishing__content">
              <h3 class="articles-finishing__title default-posttitle">
                Grey Glass
              </h3>

              <p>
                Our most popular type of edgework is the flat polished edge. A flat-polished edge offers a sleek, modern finished appearance. Flat polish is mostly used where the glass edges are exposed, such as in shower enclosures, mirrors, railings, shelves, tabletops, or in any other type of frameless application.
              </p>
            </div>

          </a>
        </li>
        <li class="more-articles__item">
          <div class="articles-finishing">
            <div class="articles-finishing__image">
              <picture>
                <source type='image/webp' srcset='img/product_page/img9.webp'>
                <img loading='lazy' width='395' height='360' src='img/product_page/img9.jpg' alt='image'>
              </picture>
            </div>

            <div class="articles-finishing__content">
              <h3 class="articles-finishing__title default-posttitle">
                Bronze Glass
              </h3>

              <p>
                Our most popular type of edgework is the flat polished edge. A flat-polished edge offers a sleek, modern finished appearance. Flat polish is mostly used where the glass edges are exposed, such as in shower enclosures, mirrors, railings, shelves, tabletops, or in any other type of frameless application.
              </p>
            </div>

          </a>
        </li>

        <li class="more-articles__item">
          <div class="articles-finishing">
            <div class="articles-finishing__image">
              <picture>
                <source type='image/webp' srcset='img/product_page/img10.webp'>
                <img loading='lazy' width='395' height='360' src='img/product_page/img10.jpg' alt='image'>
              </picture>
            </div>

            <div class="articles-finishing__content">
              <h3 class="articles-finishing__title default-posttitle">
                Acid Etch Glass
              </h3>

              <p>
                Our most popular type of edgework is the flat polished edge. A flat-polished edge offers a sleek, modern finished appearance. Flat polish is mostly used where the glass edges are exposed, such as in shower enclosures, mirrors, railings, shelves, tabletops, or in any other type of frameless application.
              </p>
            </div>

          </a>
        </li>
      </ul>
    </div>

     <article class='products-article reverse'>
      <div class="products-article__image">
        <picture>
          <source type='image/webp' srcset='img/product_page/img3.webp'>
          <img loading='lazy' width='720' height='304' src='img/product_page/img3.jpg' alt='image'>
        </picture>
      </div>

      <h2 class='products-article__title default-pretitle '>
        What is tempered glass?
      </h2>

      <span class='products-article__subtitle'>
        Experience True Quality
      </span>

      <p>
        We make it our goal to offer high quality glass products that will exceed our customer expectations every time. We are a full service custom glass company, specializing in float (standard) glass, mirror, tempered glass, glass table tops, glass shelves, glass railings, glass showers & more. Traditional methods as well as modern CNC and Glass tempering furnaces equipment are used to fulfill small orders and large volume requirements. We have the ability to meet quick turnaround times with high quality glass products.
      </p>

    </article>


    <ul class="point-list">
      <li class="point-list__item">
        <h3 class="point-list__title">
          <svg width='40' height='40'>
            <use href='img/sprite/sprite.svg#cube'></use>
          </svg>
          Edge-Work & Polishing
        </h3>
        <p>
          Glass polishing machinery ensure perfect edges on every piece of glass
        </p>
      </li>
      <li class="point-list__item">
        <h3 class="point-list__title">
          <svg width='40' height='40'>
            <use href='img/sprite/sprite.svg#glass_fabrication'></use>
          </svg>
          Glass Fabrication
        </h3>
        <p>
          We offer extensive glass fabrication including holes, hinge cutouts and any other types of fabrication required
        </p>
      </li>
      <li class="point-list__item">
        <h3 class="point-list__title">
          <svg width='40' height='40'>
            <use href='img/sprite/sprite.svg#glass_tempering'></use>
          </svg>
          Glass Tempering
        </h3>
        <p>
          Advanced tempered glass processing methods for increased strength.
        </p>
      </li>
      <li class="point-list__item">
        <h3 class="point-list__title">
          <svg width='40' height='40'>
            <use href='img/sprite/sprite.svg#laser-cutting-machine'></use>
          </svg>
          Precision Cutting
        </h3>
        <p>
          Precision glass-cutting equipment, such as CNC machines, table cutting machines & more
        </p>
      </li>
    </ul>

  </div>

</div>
