<button data-tab="4" class='mobile-acc'>
  Projects & Reviews
</button>
<div class="tabs-content__item" data-tab-content="4">

  <div class="products-block">
    <div class="more-articles">
      <div class="main-top">
        <h2 class="main-top__title more-articles__title">
          How it works
        </h2>
      </div>


      <div class='client-reviews'>
        <div class='swiper-container'>
          <ul class='swiper-wrapper'>
            <li class='swiper-slide'>
              <div class="reviews">
                <div class="reviews__top">
                  <span class="reviews__user">
                    <img src="img/sprite/user.svg" width='80' height='80' alt="user">
                  </span>
                  <span class='reviews__name'>
                    Joey S
                  </span>
                  <div class="reviews__stars" data-stars="5">
                    <svg width='80' height='12'>
                      <use href='img/sprite/sprite.svg#stars'></use>
                    </svg>
                  </div>
                  <span class="reviews__date">
                    2022.11.12
                  </span>
                </div>

                <div class="reviews__content">
                  <span class="default-posttitle">
                    Great job!
                  </span>
                  <p>“Beautiful job! Incredibly happy with your prompt delivery and beautifully finished glass, will definitely be using your services again. 5-Stars!”</p>
                </div>



                <div class="reviews__images">
                  <div class="reviews__image">
                    <picture>
                      <source type='image/webp' srcset='img/reviews.webp'>
                      <img loading='lazy' width='80' height='80' src='img/reviews.jpg' alt='image'>
                    </picture>
                  </div>
                  <div class="reviews__image">
                    <picture>
                      <source type='image/webp' srcset='img/reviews2.webp'>
                      <img loading='lazy' width='80' height='80' src='img/reviews2.jpg' alt='image'>
                    </picture>
                  </div>
                  <div class="reviews__image">
                    <picture>
                      <source type='image/webp' srcset='img/reviews3.webp'>
                      <img loading='lazy' width='80' height='80' src='img/reviews3.jpg' alt='image'>
                    </picture>
                  </div>
                </div>

              </div>
            </li>
            <li class='swiper-slide'>
              <div class="reviews">
                <div class="reviews__top">
                  <span class="reviews__user">
                    <img src="img/sprite/user.svg" width='80' height='80' alt="user">
                  </span>
                  <span class='reviews__name'>
                    Joey S
                  </span>
                  <div class="reviews__stars" data-stars="5">
                    <svg width='80' height='12'>
                      <use href='img/sprite/sprite.svg#stars'></use>
                    </svg>
                  </div>
                  <span class="reviews__date">
                    2022.11.12
                  </span>
                </div>

                <div class="reviews__content">
                  <span class="default-posttitle">
                    Amazing team
                  </span>
                  <p>This was packaged thoughtfully, easy to put together, looks decent quality, and feels sturdy. The doors feel solid and the slow-close is nice, but interested buyers should note that the door hinges are a good 3-4 inches long and sit on the floor of the shelf which may impact how much you can fit inside. For my purposes there is more than enough space- I’ve used a small shelf to stack a dvd player on top of a vhs player (yes, vhs). Love the spacious media holes to fit multiple cables and cords. Wish this came in a walnut color but am very pleased with the oak!</p>
                </div>
              </div>
            </li>
            <li class='swiper-slide'>
              <div class="reviews">
                <div class="reviews__top">
                  <span class="reviews__user">
                    <img src="img/sprite/user.svg" width='80' height='80' alt="user">
                  </span>
                  <span class='reviews__name'>
                    Joey S
                  </span>
                  <div class="reviews__stars" data-stars="5">
                    <svg width='80' height='12'>
                      <use href='img/sprite/sprite.svg#stars'></use>
                    </svg>
                  </div>
                  <span class="reviews__date">
                    2022.11.12
                  </span>
                </div>

                <div class="reviews__content">
                  <span class="default-posttitle">
                    Great job!
                  </span>
                  <p>“Beautiful job! Incredibly happy with your prompt delivery and beautifully finished glass, will definitely be using your services again. 5-Stars!”</p>
                </div>



                <div class="reviews__images">
                  <div class="reviews__image">
                    <picture>
                      <source type='image/webp' srcset='img/reviews.webp'>
                      <img loading='lazy' width='80' height='80' src='img/reviews.jpg' alt='image'>
                    </picture>
                  </div>
                  <div class="reviews__image">
                    <picture>
                      <source type='image/webp' srcset='img/reviews2.webp'>
                      <img loading='lazy' width='80' height='80' src='img/reviews2.jpg' alt='image'>
                    </picture>
                  </div>
                  <div class="reviews__image">
                    <picture>
                      <source type='image/webp' srcset='img/reviews3.webp'>
                      <img loading='lazy' width='80' height='80' src='img/reviews3.jpg' alt='image'>
                    </picture>
                  </div>
                </div>

              </div>
            </li>
            <li class='swiper-slide'>
              <div class="reviews">
                <div class="reviews__top">
                  <span class="reviews__user">
                    <img src="img/sprite/user.svg" width='80' height='80' alt="user">
                  </span>
                  <span class='reviews__name'>
                    Joey S
                  </span>
                  <div class="reviews__stars" data-stars="5">
                    <svg width='80' height='12'>
                      <use href='img/sprite/sprite.svg#stars'></use>
                    </svg>
                  </div>
                  <span class="reviews__date">
                    2022.11.12
                  </span>
                </div>

                <div class="reviews__content">
                  <span class="default-posttitle">
                    Amazing team
                  </span>
                  <p>This was packaged thoughtfully, easy to put together, looks decent quality, and feels sturdy. The doors feel solid and the slow-close is nice, but interested buyers should note that the door hinges are a good 3-4 inches long and sit on the floor of the shelf which may impact how much you can fit inside. For my purposes there is more than enough space- I’ve used a small shelf to stack a dvd player on top of a vhs player (yes, vhs). Love the spacious media holes to fit multiple cables and cords. Wish this came in a walnut color but am very pleased with the oak!</p>
                </div>
              </div>
            </li>

            <li class='swiper-slide'>
              <div class="reviews">
                <div class="reviews__top">
                  <span class="reviews__user">
                    <img src="img/sprite/user.svg" width='80' height='80' alt="user">
                  </span>
                  <span class='reviews__name'>
                    Joey S
                  </span>
                  <div class="reviews__stars" data-stars="5">
                    <svg width='80' height='12'>
                      <use href='img/sprite/sprite.svg#stars'></use>
                    </svg>
                  </div>
                  <span class="reviews__date">
                    2022.11.12
                  </span>
                </div>

                <div class="reviews__content">
                  <span class="default-posttitle">
                    Amazing team
                  </span>
                  <p>This was packaged thoughtfully, easy to put together, looks decent quality, and feels sturdy. The doors feel solid and the slow-close is nice, but interested buyers should note that the door hinges are a good 3-4 inches long and sit on the floor of the shelf</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>


    </div>

  </div>

</div>
