<button data-tab="3" class='mobile-acc'>
  Shaping & Edgework
</button>
<div class="tabs-content__item" data-tab-content="3">

  <div class="products-block">
    <div class="more-articles">
      <div class="main-top">
        <h2 class="main-top__title more-articles__title">
          Edge finishing
        </h2>
      </div>

      <article class='products-article mode'>
        <div class="products-article__image">
          <picture>
            <source type='image/webp' srcset='img/product_page/img11.webp'>
            <img loading='lazy' width='720' height='592' src='img/product_page/img11.jpg' alt='image'>
          </picture>
        </div>

        <div class="products-article__coll">
          <h2 class='products-article__title default-posttitle '>
            What is tempered glass?
          </h2>

          <div class="products-article__row">
            <p>
              <img loading='lazy' width='202' height='90' src='img/text.png' alt='image'>
             <span>
              For all glass thicknesses, the minimum distance from the edge of the hole to the nearest edge of the glass must be the greatest between 6 mm and twice the glass thickness.
             </span>
            </p>

            <p>
              <img loading='lazy' width='202' height='90' src='img/text2.png' alt='image'>
              <span>
                The minimum distance from the edge of the hole to a corner of the glass must be 6.5 times the thickness of the glass when the corner is 90 degrees and more.
              </span>
            </p>
          </div>

          <!-- ----- -->
          <h2 class='products-article__title default-posttitle '>
            Minimum distance between holes
          </h2>


          <div class="products-article__row">
            <p>
              <img loading='lazy' width='125' height='60' src='img/text3.png' alt='image'>
              <span>
                For all glass thicknesses, the minimum distance between holes is the greatest distance between: 10 mm and twice the glass thickness
              </span>
            </p>
          </div>

          <!-- ----- -->
          <h2 class='products-article__title default-posttitle '>
            Dimension of round holes
          </h2>
          <p>
            For all glass thicknesses, the minimum distance between holes is the greatest distance between: 6,4 mm and glass thickness
          </p>

          <div class="products-article__bottom">
            <span class='products-article__descr'>
              To learn more about shaping & edgework, download the document below:
            </span>
            <a href="#" download='#' class=" arrow-button arrow-button--transparent">
              Shaping & Edgework
              <svg width="16" height="16">
                <use href="img/sprite/sprite.svg#download"></use>
              </svg>
            </a>
          </div>

        </div>




      </article>
    </div>

  </div>

</div>
