<button data-tab="5" class='mobile-acc'>
  How it works
</button>

<div class="tabs-content__item" data-tab-content="5">
  <div class="products-block">
    <div class="more-articles">
      <div class="main-top">
        <h2 class="main-top__title more-articles__title">
          How it works
        </h2>
      </div>


      <ul class="step-list">
        <li class="step-row">
          <div class="step-row__image">
            <img src="img/step-icons/icon.svg" width='200' height='200' alt="icon">
          </div>

          <div class="step-row__inner">
            @include('../separator.html',{'InnerText':'Before ordering'})

            <h3 class="step-row__title default-pretitle" data-label='Step'>
              Measurements
            </h3>
            <p>
              Take the measurements of your site and determine the exact lengths of the areas where your glass railing or your shower will be positioned. To ensure precise measurements, refer to our measuring guide for detailed instructions.
            </p>
            <a href="#" class="step-row__link arrow-button arrow-button--transparent">
              Resource center
              <svg width="16" height="16">
                <use href="img/sprite/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>

        </li>
        <li class="step-row">
          <div class="step-row__image">
            <img src="img/step-icons/icon2.svg" width='200' height='200' alt="icon">
          </div>

          <div class="step-row__inner">
            <h3 class="step-row__title default-pretitle" data-label='Step'>
              Online configurators
            </h3>
            <p>
              Our user-friendly online custom configurator apps are designed to assist you in efficiently planning and estimating the costs for your project. Simply choose the desired hardware specifications and input your measurements. It's a straightforward process that couldn't be easier. Complete your purchase securely through our online payment system directly on our website. Should you require any assistance during this process, please feel free to contact us without hesitation.
            </p>


            <div class="step-row__buttons">
              <a href='#' class="step-row__btn arrow-button arrow-button--transparent">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#rail"></use>
                </svg>
                Go to Railing Planner
              </a>
              <a href='#' class="step-row__btn arrow-button arrow-button--transparent">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#shower"></use>
                </svg>
                Go to Shower Planner
              </a>
            </div>

          </div>

        </li>
        <li class="step-row">
          <div class="step-row__image">
            <img src="img/step-icons/icon3.svg" width='200' height='200' alt="icon">
          </div>

          <div class="step-row__inner">
            @include('../separator.html',{'InnerText':'Order processing'})
            <h3 class="step-row__title default-pretitle" data-label='Step'>
              Order confirmation
            </h3>
            <p>
              Included in our pricing is the review of your order by our technical team. If required, they will suggest any necessary changes and optimizations. Once you confirm these changes, we will prepare the final technical drawings and proceed with production. Rest assured that our team is dedicated to ensuring the accuracy and quality of your project every step of the way.

            </p>
          </div>

        </li>
        <li class="step-row">
          <div class="step-row__image">
            <img src="img/step-icons/icon4.svg" width='200' height='200' alt="icon">
          </div>

          <div class="step-row__inner">
            <h3 class="step-row__title default-pretitle" data-label='Step'>
              Order processing
            </h3>
            <p>
              Please allocate a timeframe of 10 to 14 business days for the shipment of your order. Each glass pane is carefully packaged individually to facilitate hassle-free unloading and handling. For optimal protection, the entire order is bundled and shipped on a sturdy wooden pallet. Once the carrier picks up the order, a tracking number will be provided to you for easy tracking of your shipment.

            </p>
          </div>

        </li>
        <li class="step-row">
          <div class="step-row__image">
            <img src="img/step-icons/icon5.svg" width='200' height='200' alt="icon">
          </div>

          <div class="step-row__inner">
            @include('../separator.html',{'InnerText':'Final steps'})

            <h3 class="step-row__title default-pretitle" data-label='Step'>
              Shipping
            </h3>
            <p>
              For the delivery of your order, a signature will be required upon receipt. In the case of smaller orders consisting of 3-4 glass panes or less, the delivery will be made directly to your doorstep. For larger orders, we provide free curbside delivery, which requires your assistance in unloading the order alongside the driver. If needed, we can also arrange tailgate delivery upon request.
            </p>

            <a href="#" class="step-row__link arrow-button arrow-button--transparent">
              Shipping details
              <svg width="16" height="16">
                <use href="img/sprite/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>

        </li>
        <li class="step-row">
          <div class="step-row__image">
            <img src="img/step-icons/icon6.svg" width='200' height='200' alt="icon">
          </div>

          <div class="step-row__inner">
            <h3 class="step-row__title default-pretitle" data-label='Step'>
              Reception and Installation
            </h3>
            <p>
              Before proceeding with the installation, we recommend thoroughly inspecting all boxes and packages and verifying the piece count against your order confirmation. To assist you in the installation process, we provide a comprehensive step-by-step installation guide and video, ensuring a smooth completion. If you prefer personalized guidance, you can request a phone meeting with one of our technicians who can provide valuable installation tips.
            </p>

            <a href="#" class="step-row__link arrow-button arrow-button--transparent">
              Resource center
              <svg width="16" height="16">
                <use href="img/sprite/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>

        </li>
      </ul>


    </div>

  </div>

</div>
