@import "blocks/header.scss";
@import "blocks/footer.scss";

@import "blocks/header-menu.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/share.scss";

// Main page
@import "blocks/first-section.scss";
@import "blocks/usefull-section.scss";
@import "blocks/interesting-section.scss";
@import "blocks/new-section.scss";
@import "blocks/quiz-section.scss";
@import "blocks/feedbacks-section.scss";
@import "blocks/info-section.scss";
@import "blocks/filters-section.scss";
@import "blocks/filter-menu.scss";
@import "blocks/subscribe-section.scss";

// Article page
@import "blocks/article.scss";

// Extra
@import "blocks/middle-block.scss";
@import "blocks/related.scss";
@import "blocks/downloading.scss";

// Quiz
@import "blocks/form-quiz.scss";

// Changelog Category
@import "blocks/changelog-category.scss";













