.main-button {
  padding: clamp(21px, 1.9231vw, 25px) clamp(42px, 4.6154vw, 60px);
  background-color: rgba(var(--bg-a),1.0);
  border: 1px solid rgba(var(--cl-f), 1);
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: var(--font-second);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: rgba(var(--cl-f), 1);
  text-align: center;
  transition: all .3s ease-in-out;
 
  &:hover {
    color: rgba(var(--bg-a),1.0);
    background-color: rgba(var(--bg-f),1.0);
  }
}







