// ----------------- MAIN COMPONENTS -----------------
@import "components/details.scss";
@import "components/articles.scss";
@import "components/quiz.scss";
@import "components/pagination.scss";
@import "components/feedback.scss";
@import "components/explore.scss";
@import "components/apps.scss";
@import "components/language.scss";
@import "components/search.scss";
@import "components/categories.scss";
// ----------------- MAIN COMPONENTS -----------------


// ----------------- BLOCK COMPONENTS -----------------
@import "components/main-form";
@import "components/main-nav";
// ----------------- BLOCK COMPONENTS -----------------



