h1,
.title{
  font-family: var(--font-primary);
  font-size: clamp(36px, 3.472vw, 50px);
  // font-size: 50px;
  line-height: 128%;
  font-weight: 700;
}

h2,
.subtitle{
  font-family: var(--font-primary);
  font-size: clamp(30px, 2.778vw, 40px);
  line-height: 150%;
  font-weight: 600;
}

.search{
  display: flex;
  flex-direction: column;
  grid-gap: 4px;

  @include for-laptop{
    width: Min(30.9091vw, 408px);
  }

  @include laptop{
    width: 100%;
  }

  &__title{
      font-weight: 500;
      font-size: 14px;
      line-height: 129%;
      letter-spacing: -0.02em;
  }

  &__input{
    height: 52px;
    background: rgba(var(--bg-c), .04);
    border: 1px solid rgba(47, 47, 47, 0.24);
    border-radius: 8px;
    padding: 16px;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 17px;
    line-height: 118%;
    letter-spacing: -0.02em;
 
    &::placeholder{
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 17px;
      line-height: 118%;
      letter-spacing: -0.02em;
      color: rgba(var(--cl-c),.75);
    }
  }
}