// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  --body-bg: #f9f1e7;
  --body-font-size: 16px;
  --content-width: 1320px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @include small-tablet{
    --container-offset: 16px;
  }

// --------------- default js variable ---------------
  --header-height: 72px;

  // @include tablet{
  //   --header-height: 96px;
  // }

  // @include small-tablet{
  //   --header-height: 84px;
  // }

  // @include mobile{
  //   --header-height: 81px;
  // }

// --------------- default scroll variable ---------------
  // --scrollbar-thumb: #FFCD07;
  // --scrollbar-track:  #e4e4e4;
  // --scrollbar-track-hover: #ffffff;
  --overlay-bg: rgba(39, 39, 39, 0.3);

// --------------- default font-family variable ---------------
  --font-primary: "Dosis" , sans-serif; // var(--font-primary);
  --font-second: "Geologica" , sans-serif; // var(--font-second);

// --------------- default text color variable ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  
  --cl-c: #{HexToRGB(#2f2f2f)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#0d7768)}; // rgba(var(--cl-d),1.0);

// --------------- default background color variable ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);

  --bg-c: #{HexToRGB(#2f2f2f)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#0d7768)}; // rgba(var(--bg-d),1.0);
  


// --------------- default border color variable ---------------
  --br-a: #000000; // var(--br-a);
  --br-b: #ffcd07; // var(--br-b);
// -------------
}


